<html lang="ch">
<head>
	<meta charset="utf-8" />
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="-1">
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
	<title>卓健&邦泰年度联谊盛典</title>
	<script type="text/javascript">
	if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
		var version = parseFloat(RegExp.$1);
		if(version>2.3){
			var phoneScale = parseInt(window.screen.width)/640;
			document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
		}else{
			document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
		}
	}else{
		document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	}
	//微信去掉下方刷新栏
	if(navigator.userAgent.indexOf('MicroMessenger') >= 0){
		document.addEventListener('WeixinJSBridgeReady', function() {
			WeixinJSBridge.call('hideToolbar');
		});
	}
	</script>
	<link href="../css/login.css" rel="stylesheet">
	<script src="../js/zepto.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/login.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="app">
		<img src="../img/login/login_head.png"/>
		<div class="input_div">
			<img src="../img/login/login_input_bg.png" class="login_input_bg"/>
			<div class="input_div_div">
				<div class="input_label">姓名：</div>
				<div class="input_value">
					<input type="text" id="" value="" />
				</div>
			</div>
		</div>
		<div class="input_div">
			<img src="../img/login/login_input_bg.png" class="login_input_bg"/>
			<div class="input_div_div">
				<div class="input_label">公司：</div>
				<div class="input_value">
					<input type="text" id="" value="" />
				</div>
			</div>
		</div>
		<div class="input_div">
			<img src="../img/login/login_input_bg.png" class="login_input_bg"/>
			<div class="input_div_div">
				<div class="input_label">职位：</div>
				<div class="input_value">
					<input type="text" id="" value="" />
				</div>
			</div>
		</div>
		<div class="input_div">
			<img src="../img/login/login_input_bg.png" class="login_input_bg"/>
			<div class="input_div_div">
				<div class="input_label">手机：</div>
				<div class="input_value">
					<input type="text" id="" value="" placeholder="必填"/>
				</div>
			</div>
		</div>
		<div style="margin-top:40px;position: relative;">
			<img src="../img/login/login_input_submit.png"/>
			<div class="submit_div"></div>
		</div>
		<img src="../img/login/login_bottom.png" class="login_bottom"/>
		<div class="mask">
			<div class="mask_bg"></div>
			<div class="alert_div">
				<img src="../img/login/login_submit_success.png"/>
				<img src="../img/login/login_submit_error.png" style="display:none;"/>
				<p class="submit_result">感谢您的支持和参与！</p>
			</div>
		</div>
	</div>
</body>
</html>
