<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>打字效果</title>
		
	</head>
	<body>
		<div class="aa" style="width:1000px;height:auto;min-height:30px;background-color: #000000;color:#FFFFFF;"></div>
		<script src="../js/zepto.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				startWrite()
			})
			var words = "有一帮13的人愿意跟着这位13的老板，他们愉快地做着13的事，只为13亿人民架起健康桥梁，PASSION|BRAVE|CREATIVITY。只属于我们这代13格调的卓健人，2015新卓健，2015新起点，2015我们致力成为行业的BELLWETHER_";
			var charIndex = -1;
			var stringLength = words.length;
			var inputText="";
			function startWrite(){
				charIndex = -1;
				inputText="";
				writeContent();
			}
			function writeContent(){
				charIndex++;
				var theChar = words[charIndex];
				if(charIndex<stringLength){
					if(theChar=='，'){
						inputText = inputText + theChar +　'<br/>';
					}
					else if(theChar=='|'){
						inputText = inputText +　'  ';
					}
					else if(theChar=='。'){
						inputText = inputText + '<br/>';
					}
					else if(theChar=='_'){
						//inputText = inputText + '<br/>';
					}
					else{
						inputText = inputText + theChar;
					}
					$('.aa').html(inputText);
				}
				if(charIndex<=stringLength){
		            setTimeout('writeContent(false)',100);
		        }
			}
		</script>
	</body>
</html>
