/* common start */
.btn{
	padding:8px 20px;
	height:16px;
	line-height:16px;
	font-size: 14px;
}
.hide{
	display:none;
}
.show{
	display:block;
}
/* common end */
/* header start */
body{
	width:100%;
	min-width:1280px;
}
.header{
	/* height:55px; */
	height:39px;
	padding:8px 20px;
	background-color:#3e3e3e;
	background:url(../img/header/headerbg.png) repeat-x;
	color:#FFFFFF;
}
.header .logo{
	height:39px;
	width: 39px;
	float:left;
}
.header .logoname{
	height:39px;
	font-size:18px;
	line-height:39px;
	float:left;
	margin: 0px 30px 0px 10px;
}
.header .infoli{
	height:39px;
	font-size: 14px;
	line-height:39px;
	float:left;
	margin-right: 50px;
}
.header .setting{
	height:39px;
	float:right;
}
.header .setting a{
	color:#fff;
	margin:3.5px 10px;

}
.header .setting .changepass{
	float: left;
	background-color: #828282;
}
.header .setting .logout{
	float: left;
	background-color: #828282;
}

/* header end */
/* nav start */
.nav{
	height:48px;
	width:100%;
	background: url(../img/header/navbg.png) repeat-x;
}
.nav .navul{
	margin-left:50px;
}
.nav .navli{
	/* width:100px; */
	height:46px;
	line-height:46px;
	text-align: center;
	float:left;
	font-size: 14px;
}
.nav .navli a{
	padding: 14px 30px;
	color:#333333;
}
.nav .navli a:visited{
	color:#333333;
}
.nav .active a{
	color:#fff !important;
	background-color: #0091D5;
}
/* nav end */
/* menu start */
.menu{
	height:45px;
	width:100%;
	/* background: url(../img/header/menubg.png) repeat-x; */
	border-bottom:1px solid #C7C8C9;
}
.menu .menuul{
	margin-left:50px;
	display:none;
}
.menu .menuli{
	height:45px;
	line-height:46px;
	text-align: center;
	float:left;
	font-size: 14px;
	display: inline;
}
.menu .menuli a{
	padding: 13px 30px;
	color:#333333;
}
.menu .menuli a:visited{
	color:#333333;
}
.menu .active a{
	color:#4EA6DC !important;
}
.menu .active{
	background: url(../img/header/menu_active.png) no-repeat center bottom;
}
/* .menu .menu_active{
	height: 7px;
	width: 12px;
	background: url(../img/header/menu_active.png) no-repeat center;
	position: absolute;
	position: inherit;
	margin-top: -7px;
	margin-left: 41px;
	*margin-left:10px;ie7
	_margin-left:20px;ie6
	display:none;
}
.menu .active .menu_active{
	display:block;
} */
/* menu end */
/* content start */
.main{
	width:100%;
	min-width:1280px;
	margin:0 auto;
	height:auto;
	background-color:#CBCFD3;
	background: #CBCFD3 url(../img/header/sidebarbg.png) repeat-y;
}
.sidebar{
	min-height:200px;
	width: 32px;
	padding: 20px;
	/* background: url(../img/header/sidebarbg.png) repeat-y; */
	float:left;
}
.sidebar .sidebar_div{
	background-color:#0091D5;
	color:#fff;
	margin-bottom: 20px;
}
.sidebar .active{
	color:#FFF800;
}
.sidebar .sidebar_div .sidebar_div_text{
	font-size: 14px;
	padding: 10px 9px 5px 9px;
}
.sidebar .sidebar_div .sidebar_div_xicon{
	height: 40px;
	width: 100%;
	background: url(../img/header/sidebar_xicon.png)center no-repeat;
}
.main_right{
	margin-left: 87px;
	height:auto;
	/* height:580px; */
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-x: hidden;
}
.content{
	margin:10px 20px 0px 10px;
	min-height:460px;
	/* min-width: 1200px; */
	min-width: 1150px;
	background-color:#fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.content-header{
	height:44px;
	width:100%;
	background-color:#EFF4F9;
	border-bottom:1px solid #D6E0E9;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.content-header-title {
	height: 45px;
	line-height: 45px;
	margin: 0 20px;
	font-size: 14px;
	color: #353535;
	overflow: hidden;
}
/* content end */

/* footer start */
.footer{
	width:100%;
	min-width:1280px;
	height:45px;
	background: url(../img/header/footerbg.png) repeat-x;
}
/* footer end */
/* color start */
.red{
	color:#FA4844;
}
/* color end */
/* change password start*/
.changePass_popdiv{

}
.changePass_onerow{
	height:30px;
	margin:5px 0px;
}
.changePass_text{
	height:30px;
	line-height:30px;
	width:100px;
	float:left;
	text-align: right;
}
.changePass_input{
	margin-left:110px;
}
.changePass_input input{
	height: 30px;
	line-height: 30px;
	width: 150px;
	border: 1px solid #d7e0e9;
}
.changePass_submit{
	height: 30px;
	line-height: 30px;
	width: 150px;
	font-size: 14px;
	vertical-align: middle;
	background-color: #2B9CD8;
	color:#fff;
	border:none !important;
}
/* change password end*/