.select_doctor_div{
	width:500px;
	height: auto;
	margin:10px;
}
.select_doctor_search_bar{
	height:32px;
	width:100%;
}
.select_doctor_search{
	height: 30px;
	width: 216px;
	left: 30px; 
	position: relative;
	border: 1px solid #cacaca;
	float: left;
}
.select_doctor_search input{
	float: left;
	height: 30px;
	line-height: 30px;
	width: 186px;
	font-size: 14px;
}
.select_doctor_search_btn{
	float: right;
	width: 30px;
	height: 30px;
	background: #4591c6 url(../img/icon_search.png) center no-repeat;
}
.select_doctor_confirm_btn{
	float: left;
	margin-left: 60px;
	/* width: 30px; */
	height: 31px;
	padding:0 20px;
	line-height: 30px;
	color:#fff;
	background-color: #4591c6;
	cursor: pointer;
}
.select_doctor_tb_container{
	width: 480px;
	height: auto;
	/* overflow-y: scroll;  */
	margin: 10px;
}
.select_doctor_search_res{
	width: 460px;
	border: 1px solid #d7e0e9;
}
.select_doctor_tb_th{
	height: 40px;
	border: 1px solid #d7e0e9;
	width: 100%;
	margin-top: -1px;
	line-height: 40px;
	text-align: center;
	background-color: #eff4f9;
	color: #6F8F9E;
}
.select_doctor_tb_th td{
	border-right: 1px solid #d7e0e9;
	min-width: 75px;
}
.select_doctor_search_res tr{
	height: 40px;
	border: 1px solid #d7e0e9;
	width: 100%;
	margin-top: -1px;
	line-height: 40px;
	text-align: center;
}
.select_doctor_search_res td {
	border: 1px solid #d7e0e9;
	min-width: 75px;
}
.select_doctor_td_check{
	cursor: pointer;
}
.select_doctor_td_nocheck{
	background: url(../img/bgsfys_bg_nocheck.png) center no-repeat;
}
.select_doctor_td_ischeck {
	background: url(../img/bgsfys_bg_ischeck.png) center no-repeat;
}
.abc{
	padding: 6px 20px;
	cursor: pointer;
}
.abc input{
	cursor: pointer;
}