<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="format-detection" content="telephone=no, email=no" />
		<title>启动页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    	<link rel="stylesheet" type="text/css" href="../css/common.css"/>
	</head>
	<body class="home">
		<img src="../img/home/home.jpg"/>
		<a href=""><img src="../img/home/home_btn.jpg"/></a>
	</body>
</html>
