<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="format-detection" content="telephone=no, email=no" />
		<title>查看排名</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    	<link rel="stylesheet" type="text/css" href="../css/common.css"/>
    	<script src="../js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    	<script type="text/javascript">
    		$(function(){
    			init();
    		})
    		function init(){
    			var _width = $(window).width();
    			var _height = _width * 356 / 640;
    			$('.rank-score').css('height',_height+'px').css('line-height',(_height+10)+'px');
    		}
    	</script>
	</head>
	<body>
		<div class="rank-top">
			<img class="rank-bg" src="../img/rank/rank-bg-green.jpg"/>
			<div class="rank-top-content">
				<img src="../img/rank/top-blank.png"/>
				<div class="rank-top-score-content" style="background: url(../img/rank/core-bg-green.png) center no-repeat;background-size: cover;">
					<div class="rank-score"><span class="rank-score-num">5</span>分</div>
				</div>
			</div>
		</div>
		<p class="rank-title">您的睡眠质量，目前全国排名</p>
		<div class="rank-num-content">No.<span>2523</span></div>
	</body>
</html>
