article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
p{
	padding:0;
	margin:0;
}
a,a:visited{
	text-decoration: none;
	color:#353535;
}
body, html {
	width: 100%;
	background-color: #EFEFF4;
	margin:0;
	padding:0;
}
body {
	color: #333;
	font-family: '微软雅黑','宋体';
	background-color: #EFEFF4;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.container{
	margin:20px;
	width:600px;
}
.guide{
	width:100%;
	min-height:240px;
	background:url(../img/home_guide.png);
	background-size: 100% 100%;
}
.guide_title{
	padding:30px 30px 20px 30px;
	margin:0 40px;
	font-size: 30px;
	line-height:34px;
	border-bottom:4px dashed #A6A392;
	color:#E99B4B;
}
.icon_tanh{
	width: 50px;
	height: 38px;
	background: url(../img/icon_tanh.png) center no-repeat;
	background-size: 42px 38px;
	float: left;
	margin-right: 20px;
}
.guide_content{
	padding:10px 60px;
	font-size: 25px;
	line-height: 40px;
	color:#7F7A60;
}
.guide_to{
	text-align: right;
	margin-right: 60px;
	padding-bottom:30px;
}
.guide_to a{
	width:100%;
	font-size: 25px;
	color:#525252;
	text-decoration: none;
}
.icon_right{
	width: 40px;
	height: 38px;
	background: url(../img/icon_right.png) center no-repeat;
	background-size: 16px 20px;
	float: right;
}
.tc_types{

}
.tc_types_title{
	background:url(../img/bg_package.png) center no-repeat;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	margin:20px 0px;
}
.tc_types_content{
	
}
.one_type{
	float:left;
	height:84px;
	width:188px;
	background-color: #fff;
	text-align: center;
	line-height:80px;
	font-size: 24px;
	margin-right: 11px;
	margin-bottom:10px;
}
.clr{
	clear:both;
}
.book{
	position: absolute;
	bottom: 10px;
}
.one_book{
	width:;
	width:188px;
	float:left;
	margin-right: 11px;
	margin-bottom:10px;
}
.one_book p{
	font-size: 24px;
	text-align: center;
	line-height: 24px;
	margin-top:20px;
}
.book_personal{
	background:url(../img/book_personal.png) center bottom  no-repeat;
	width:188px;
	height:188px;
}
.book_team{
	background:url(../img/book_team.png) center bottom  no-repeat;
	width:188px;
	height:188px;
}
.result_query{
	background:url(../img/result_query.png) center bottom  no-repeat;
	width:188px;
	height:188px;
}

/* 套餐详情 start */
.tc_detail_container{
	background-color:#fff;
}
.tc_detail_price{
	background:url(../img/tc_detail_price_bg.png) center left  no-repeat;
	height:70px;
	width:100%;
	padding-top: 25px;
	margin-left: -10px;
}
.tc_detail_price p{
	color:#fff;
	font-size:26px;
	/* margin-top: 5px; */
	margin-left: 30px;
}
.tc_detail_price .tc_detail_title{
	color:#fff;
	font-size:32px;
}
.tc_detail_price .price{
	color:#F7BF32;
	font-size:26px;
}
.tc_detail_content{
	padding:20px;
	border-bottom: 2px solid #E3E3E3;
}
.tc_detail_content_title{
	background:url(../img/tc_detail_content_title_bg.png) left no-repeat;
	font-size: 36px;
	color:black;
	line-height: 36px;
	margin:12px 0px;
	padding-left:30px;
}
.tc_detail_content_info{
	font-size: 26px;
	color:#979797;
	line-height: 36px;
	margin:10px 0px;
	padding-left:30px;
}
/* 套餐详情 end */
/* 个人详情 start */
.personal_container{
	padding: 0px 19px;
	width: 560px;
	background-color: #fff;
	border: 1px solid #CDCDCD;
	padding-bottom: 1px;
}
.personal_one{
	height:90px;
	border-bottom:2px dotted #DDDDDD;
	font-size: 32px;
	line-height: 90px;
}
.personal_one_title{
	color:#333333;
}
.icon_must{
	color:#EC2828;
}
.personal_one_input{
	float:right;
	height:90px;
	width:400px;
	text-align: right;
}
.personal_step2 .personal_one_title{
	color:#929292;
}
.personal_one_value{
	float:right;
	height:90px;
	width:400px;
	text-align: right;
	font-size: 32px;
	color:#363636;
}
.personal_one_input input{
	width: 100%;
	height: 90px;
	border: none !important;
	font-size: 32px;
	line-height: 90px;
	text-align: right;
	padding: 0 10;
	color:#9A9A9A;
}
.personal_submit{
	width:600px;
	height:82px;
	font-size: 40px;
	line-height: 80px;
	margin: 20px;
	margin-top:40px;
	color:#fff;
	text-align: center;
	background-color: #E9AF25;
	border:none;
}
.personal_choose_types{
	float:left;
	height: 90px;
	width: 330px;
	text-align: right;
}
.personal_type_choose{
	background: url(../img/icon_right_personal.png) center right no-repeat;
	height: 90px;
	width: 30px;
	float: right;
	margin-right: 20px;
}
.personal_one_input .radio,.personal_one_input .radio_date{
	font-size: 32px;
	color:#9A9A9A;
}
.personal_one_input .radio span{
	background: url(../img/icon_personal_unchecked.png) center no-repeat;
	font-size: 34px;
	margin-right: 10px;
	margin-left: 50px;
}
.personal_one_input .radio_checked span{
	background: url(../img/icon_personal_checked.png) center no-repeat !important;
}
.personal_one_input .radio_date span{
	background: url(../img/icon_personal_unchecked.png) center no-repeat;
	font-size: 34px;
	margin-right: 10px;
}
.personal_step3{
	height: 180px;
	width:100%;
	background-color:#FFFEF5;
	text-align: center;
	font-size: 30px;
	line-height: 180px;
}
.icon_personal_step3_yes{
	background: url(../img/icon_personal_step3_yes.png) center no-repeat;
	font-size: 34px;
	margin-right: 10px;
	margin-left: 50px;
	float: left;
}
/* 个人详情 end */
/* 团体预约 start */
.team_container{
padding: 0 19px;
width: 560px;
background-color: #fff;
border: 1px solid #CDCDCD;
padding-bottom: 2px;
}
.personal_one_input_date{
	width: 340px;
}

.team_step2 .personal_one {
	height: 90px;
	border-bottom: 2px dotted #DDDDDD;
	font-size: 30px;
	line-height: 90px;
}
.team_step2 .personal_one_input .radio_date {
	font-size: 30px;
	color: #9A9A9A;
}
.team_step2 .personal_one_input .radio_date span {
	margin-right: 5px;
}
.team_step3 .personal_one_title{
	color:#929292;
}
/* 团体预约 end */
/* 结果查询 start */
.result_query_topbg{
	height:20px;
	width:600px;
	margin-left:-20px;
	margin-right:-20px;
	background:url(../img/result_query_topbg.png) top repeat-x;
}
.personInfo{

}
.person_info_top{
	height:90px;
	width:100%;
	border-bottom:1px dotted #CCCCCC;
	font-size: 32px;
	color:#333333;
	line-height: 90px;
}
.person_name{
	float:left;
	font-size: 32px;
	line-height: 90px;
}
.yy_name{
	float:right;
	font-size: 32px;
	line-height: 90px;
}
.icon_male{
	background: url(../img/icon_male.png) center no-repeat;
	line-height: 90px;
	font-size: 32px;
	float: left;
	width: 40px;
	height: 80px;
	margin-top: 4px;
}
.one_result{
	min-height: 70px;
	font-size: 28px;
	line-height: 46px;
}
.one_result .left_title{
	color:#777777;
	width:160px;
	float:left;
	font-size: 28px;
}
.one_result .right_content{
	color:#333333;
	margin-left:170px;
	font-size: 28px;
}
.one_section{
	border-bottom:2px dotted #CCCCCC;
}
.one_section_title{
	font-size:28px;
	color:#797979;
	padding: 20px 0px;
}
.one_section_content{
	padding-bottom:10px;
	font-size:26px;
	color:#3D3D3D;
}
.result_query_detail{
	background:url(../img/result_query_detail.png) center no-repeat;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	margin: 20px 0px;
}
.onerow{
	min-height: 70px;
	font-size: 28px;
	line-height: 70px;
	border:1px solid #D7D7D7;
	text-align: left;
	background:url(../img/icon_right_personal.png) center right no-repeat;

}
.result3{
	min-height: 180px;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 30px;
}
.result_div{
	padding:30px;
}
.one_row{
	font-size: 30px;
	min-height:55px;
}
/* .one_row .one_row_title{
	font-size: 30px;
	font-weight: bold;
	color: #333333;
	width: 190px;
	float: left;
}
.one_row .one_row_content{
	font-size: 30px;
	text-align: left;
	word-break: break-all;
	color: #999999;
} */
.one_row .one_row_title{
	font-size: 30px;
	font-weight: bold;
	color: #333333;
	width: 190px;
	float: left;
}
.one_row .one_row_content{
	margin-left: 19px;
	font-size: 30px;
	text-align: left;
	word-break: break-all;
	color: #999999;
}
.project_header{
	height:68px;
	line-height: 68px;
	background-color:#72B88F;
	color:#fff;
	width:600px;
	margin-left:-20px;
}
.project_header_left{
	float:left;
	margin-left:20px;
	font-size: 30px;
}
.project_header_right{
	float:right;
	margin-right:20px;
	font-size: 30px;
}
.project_one{
	min-height: 90px;
	font-size: 30px;
	line-height: 90px;
}
.project_one_header{
	height: 90px;
	width: 100%;
	border-bottom: 2px dotted #DDDDDD;
}
.project_one_content{
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	border-bottom: 2px dotted #DDDDDD;
	display:none;
}
.show{
	display: block;
}
.project_one_left{
	float:left;
	font-size: 28px;
	font-weight: bold;
}
.project_one_right{
	float:right;
	font-size: 28px;
	font-weight: bold;
}
/* 体检须知 start */
.guide_header{
	background:url(../img/guide_header_bg.png) top center no-repeat;
	height:16px;
}
.guide_cont{
	background: url(../img/guide_content_bg.png) top center repeat-y;
	min-height:100px;
}
.guide_cont_container{
	margin:0px 50px;
	min-height: 100px;
	padding-bottom: 30px;

}
.guide_cont_header{
	font-size: 30px;
	height: 35px;
	line-height: 40px;
	border-bottom: 2px dashed #AAA694;
	padding-bottom: 20px;
	text-align: center;
	color: #E99947;
	letter-spacing: 5px;
	padding-top: 10px;
}
.guide_cont_name{
	font-size: 28px;
	font-weight: bold;
	line-height: 36px;
	margin: 10px 0px;
}
.guide_cont_info{
	font-size: 28px;
	color:#908C75;
	line-height: 42px;
	margin: 10px 0px;
}
/* 体检须知 end */