@font-face {
font-family: 'minijianyingbikaishu302922';
src: url('minijianyingbikaishu.eot');
src: url('minijianyingbikaishu.eot?#iefix') format('embedded-opentype'),
     url('minijianyingbikaishu.woff') format('woff'),
     url('minijianyingbikaishu.ttf') format('truetype'),
     url('minijianyingbikaishu.svg#minijianyingbikaishu') format('svg');
    font-weight: normal;
    font-style: normal;
   }