/* 
    Document   : index
    Created on : 2014-12-26, 15:15:42
    Author     : sn
    Description: 首页
*/
html{
    height: 100%;
    background: transparent;
}
body{
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-attachment:fixed; /*必须*/
    max-width: 640px;
    position:relative;
    background:#adadad;
}

.ui-page{
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    font-family: "黑体";
    text-align: left;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    clear: both;
}


.ui-page .ui-msg{
    width: 50%;
    max-width: 400px;
    padding:0 20px 0px 0;
    margin: 18% 10% 5px 10%;
    text-align: left;
    font-size: 16px;
    color: #000;
}

.ui-page .ui-msg-2{
    width: 52%;
    padding: 0 0 0 0;
    margin: 18% 10% 5px 15%;
}
.ui-page .ui-msg-2-img{
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.ui-page .ui-msg-2-img >*{
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
}

.ui-page .ui-msg-2-img >.left{
    width: 30%;
    margin: 0;
    padding: 0;
    left:0;
    top:0;
}
.ui-page .ui-msg-2-img >.right{
    width: 70%;
    margin: 0;
    padding: 0;
    right:0;
    top:0;
}

.ui-page .ui-msg-bg{
    width: 100%;
    height: 100%;
    display: block;
}
.ui-page .ui-msg-content{
    width: 100%;
    display: block;
    font-weight: 600;
}
.ui-page .ui-msg-content .font-22{
    font-size: 20px;
}

.ui-page .ui-msg-content .font-20{
    font-size: 20px;
}

.ui-page .ui-msg-content .font-14{
    font-size: 14px;
}

.ui-page .ui-msg-content .msg-1{
    color: #221815;
}

.ui-page .ui-msg-content .msg-2{
    padding: 5px 0 0 0;
    color: #221815;
}
.ui-page .ui-msg-content .msg-3{
    color: red;
}
.ui-page .ui-msg-content .msg-red{
    color: red;
}


.ui-page .ui-msg-line{
    width: 80%;
    height: 10px;
    margin: 5px 0 0 0;
    background-image: url("../images/bg-msg-line.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
}


.ui-page .ui-content{
    width: 80%;
    max-width: 400px;
    padding: 0px 0 10px 0;
    margin: 0 10% 0 10%;
    text-align: left;
    font-size: 16px;
}
.ui-page .ui-content .title{
    width: auto;
    color: #e7231e;
    font-size: 13px;
    font-weight: 600;
}
.ui-page .ui-content .tab{
    width: 100%;
    margin: 10px 0 0 0;
    overflow: hidden;
    display: block;
}

.ui-page .ui-content .tab ul{
    width: 100%;
    overflow: hidden;
    display: block;
    font-size: 0;
    text-align: center;
}
.ui-page .ui-content .tab ul li{
    width: 33%;
    margin: 0 0;
    padding: 0 0;
    outline: none;
    overflow: hidden;
    display: inline-block;
}
.ui-page .ui-content .tab ul li:hover{
    opacity: 0.9;
    cursor: pointer;
}
.ui-page .ui-content .tab ul li:active{
    opacity: 0.9;
    cursor: pointer;
}

.ui-page .ui-content .tab ul li img{
    width: 100%;
    display: block;
}
.ui-page .ui-loading{
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.ui-page .ui-loading >*{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
.ui-page .ui-loading .loading-1{
    background-image: url("../images/bg-loading-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
}
.ui-page .ui-loading .loading-2{
    background-image: url("../images/bg-loading-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
}
.ui-page .ui-btn{
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    text-align: center;
    position: absolute;
    left:0;
    top:0;
}

.ui-page .ui-success-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    display: block;
    background-image: url("../images/bg-success-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.bg-share{
    width: 100%;
    height: 100%;
    background: #000;
    background:url("../images/bg-share.png") center top no-repeat rgba(0,0,0,0.7);
    background-size: 100% auto;
    position: fixed;
    *position: absolute;
    top:0;
    left:0;
    z-index: 999;
}
.ui-share-btn{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left:0;
    text-align: center;
}
.ui-share-btn >*{
    width: auto;
    margin: 5px auto;
    padding: 0 20px;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    background: #d01120;
    border: 5px solid rgba(247,195,201,0.7);
    display: inline-block;
}
.ui-share-btn .ui-link-btn{
    background: #22ac38;
    border: 5px solid rgba(182,223,189,0.7);
}

.ui-share-btn .ui-link-btn:visited{
    color: #fff;
}

.ui-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}

.ui-bg >*{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top:0;
    left:0;
    display: block;
}
.ui-bg-person{
    background-image: url("../images/bg-person.png");
    background-position: right 20px;
    background-repeat: no-repeat;
    background-size: auto 70px;
}

.ui-bg-star{
    background-image: url("../images/bg-star.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.ui-bg-moon{
    background-image: url("../images/bg-moon.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #10082b;
}
.ui-bg-moon-tip{
    background-image: url("../images/bg-moon-tip.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #10082b;
}
.ui-bg-bat{
    background-image: url("../images/bg-bat.gif");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.ui-bg-position-pointer{
    background-image: url("../images/position/bg-position-pointer.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.ui-bg-position-bg{
    background-image: url("../images/position/bg-position-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.ui-bg-position-img{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.ui-bg-position-img >*{
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
}



@keyframes animate-star{
    0%   {background-size: 0% auto;}
100% {background-size: 300% auto;}
}

@-moz-keyframes animate-star{
    0%   {background-size: 0% auto;}
100% {background-size: 300% auto;}
}

@-webkit-keyframes animate-star {
    0%   {background-size: 0% auto;}
100% {background-size: 300% auto;}
}

@-o-keyframes animate-star{
    0%   {background-size: 0% auto;}
100% {background-size: 300% auto;}
}

.ui-animate-star{
    animation-name: animate-star;
    -moz-animation-name: animate-star;	/* Firefox */
    -webkit-animation-name: animate-star;	/* Safari 和 Chrome */
    -o-animation-name: animate-star;	/* Opera */
}

.animated-star{
    -webkit-animation-duration:5s;
    -moz-animation-duration: 5s;
    animation-duration: 5s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}


@keyframes animate-loading{
    0%   {background-size: 50% auto;}
100% {background-size: 100% auto;}
}

@-moz-keyframes animate-loading{
    0%   {background-size: 50% auto;}
100% {background-size: 100% auto;}
}

@-webkit-keyframes animate-loading {
    0%   {background-size: 50% auto;}
100% {background-size: 100% auto;}
}

@-o-keyframes animate-loading{
    0%   {background-size: 50% auto;}
100% {background-size: 100% auto;}
}

.ui-animate-loading{
    animation-name: animate-loading;
    -moz-animation-name: animate-loading;	/* Firefox */
    -webkit-animation-name: animate-loading;	/* Safari 和 Chrome */
    -o-animation-name: animate-loading;	/* Opera */
}

.animated-loading{
    -webkit-animation-duration:1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
@keyframes animate-btn{
    0%   {opacity: 1.0;}
100% {opacity: 0.6;}
}

@-moz-keyframes animate-btn{
    0%   {opacity: 1.0;}
100% {opacity: 0.6;}
}

@-webkit-keyframes animate-btn {
    0%   {opacity: 1.0;}
100% {opacity: 0.6;}
}

@-o-keyframes animate-btn{
    0%   {opacity: 1.0;}
100% {opacity: 0.6;}
}

.ui-animate-btn{
    animation-name: animate-btn;
    -moz-animation-name: animate-btn;	/* Firefox */
    -webkit-animation-name: animate-btn;	/* Safari 和 Chrome */
    -o-animation-name: animate-btn;	/* Opera */
}

.animated-btn{
    -webkit-animation-duration:1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}