/* 
    Document   : reset
    Created on : 2014-7-30, 14:56:26
    Author     : sn
    Description: 初始化
*/


@charset "utf-8";
/* ☆ reset =======================================================================================================*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}


body,button,input,select,textarea {
    font: 12px/1.5 "Microsoft YaHei", 微软雅黑, tahoma, arial, Verdana,
        sans-serif;
    -webkit-text-size-adjust: none;
}

ol,ul,li,dl,dd,dt {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}
a:active{
    outline: none;
}
fieldset,img {
    border: 0;
}


div{
    /*文字等自动换行*/
    word-wrap: break-word;
    word-break: normal;
    text-wrap: normal;
}
.word-normal{
    /*文字等自动换行*/
    word-wrap: break-word;
    word-break: normal;
    text-wrap: normal;
}
br {
    font-size: 20px;
    line-height: 100%;
}
/* ☆ all =======================================================================================================*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.cb {
    clear: both;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.of_auto {
    overflow: auto;
}

.of_hidden {
    overflow: hidden;
}

.none {
    display: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.block {
    display: block;
}

.resetEl {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.color_white {
    color: #fff;
}

.color_orange {
    color: #f96024;
}

.color_yellow {
    color: #ffdf06;
}

.color_green {
    color: #affb0c;
}
.color_grey{
    color: #adadad;
}

.color_red {
    color: #e5293a;
}

.bg_color_blue {
    background-color: #085cb2;
}

.bg_color_red {
    background-color: #f91c5a;
}

.bg_color_brown {
    background-color: #ca2b19;
}

.bg_color_green {
    background-color: #20d27c;
}

.ff_Impact {
    font-family: Impact;
}

.ff_arial {
    font-family: arial;
}

.ff_Verdana {
    font-family: Verdana;
}

.ff_RomanT {
    font-family: RomanT;
}

.fs_0D8em {
    font-size: 0.8em;
}

.fs_13px {
    font-size: 13px;
}

.ta_center {
    text-align: center;
}
.ta-left{
    text-align: left;
}


.fw_bold {
    font-weight: bold;
}

.w100p {
    width: 100% !important;
}

.h100p {
    height: 100% !important;
}

.w280 {
    width: 280px !important;
}

.w310 {
    width: 310px !important;
}

.alpha0 {
    filter: alpha(opacity = 0) !important; /*IE6、IE7*/
    -moz-opacity: 0.0 !important; /*Firefox2.0*/
    opacity: 0.0 !important; /*谷歌、Firefox3.0及以上、IE8及以上*/
}

.alpha1 {
    filter: alpha(opacity = 10); /*IE6、IE7*/
    -moz-opacity: 0.1; /*Firefox2.0*/
    opacity: 0.1; /*谷歌、Firefox3.0及以上、IE8及以上*/
}

.alpha3 {
    filter: alpha(opacity = 30) !important; /*IE6、IE7*/
    -moz-opacity: 0.3 !important; /*Firefox2.0*/
    opacity: 0.3 !important; /*谷歌、Firefox3.0及以上、IE8及以上*/
}
.alpha6 {
    filter: alpha(opacity = 60) !important; /*IE6、IE7*/
    -moz-opacity: 0.6 !important; /*Firefox2.0*/
    opacity: 0.6 !important; /*谷歌、Firefox3.0及以上、IE8及以上*/
}

.alpha7 {
    filter: alpha(opacity = 70) !important; /*IE6、IE7*/
    -moz-opacity: 0.7 !important; /*Firefox2.0*/
    opacity: 0.7 !important; /*谷歌、Firefox3.0及以上、IE8及以上*/
}

.alpha8 {
    filter: alpha(opacity = 80) !important; /*IE6、IE7*/
    -moz-opacity: 0.8 !important; /*Firefox2.0*/
    opacity: 0.8 !important; /*谷歌、Firefox3.0及以上、IE8及以上*/
}

.alpha10 {
    filter: alpha(opacity = 100) !important; /*IE6、IE7*/
    -moz-opacity: 1.0 !important; /*Firefox2.0*/
    opacity: 1.0 !important; /*谷歌、Firefox3.0及以上、IE8及以上*/
}

.indent_3em {
    text-indent: 3em;
}

.ellipsis {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    word-break: keep-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*水平翻转*/
.flipx {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}

/*垂直翻转*/
.flipy {
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
    /*IE*/
    filter:FlipV;
}

.middle-line{
    width: 0;
    height: 100%;
    margin: 0 0 0 -1px;
    padding: 0;
    border: none;
    outline: none;
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: middle;
}
.middle{
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: middle;
}


/*lhgDialog 锁屏样式*/
#ldg_lockmask{
    background: transparent;
    filter: alpha(opacity = 00); /*IE6、IE7*/
    -moz-opacity: 0.0; /*Firefox2.0*/
    opacity: 0.0 ; /*谷歌、Firefox3.0及以上、IE8及以上*/
}
.ui_border{
    background: #000 !important;
    color: #fff !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border:3px solid transparent;
}
.ui_border *{
    background: #000 !important;
    color: #fff !important;
} 
.ui_inner{
    background: #000 !important;
    color: #fff !important;
}
