<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>adminUserAdd | GuSoSo 股搜搜</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/adminUser.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="logo">
			<img src="../image/img1/5.png"></img>
		</div>
		<div class="settings">
			<div class="config">
				<div class="pic"></div>
				<div class="text">设置</div>
			</div>
			<div class="logout">
				<div class="pic"></div>
				<div class="text">退出</div>
			</div>
		</div>
		
	</div>
	<div class="body">
		<div class="bodyLeft">
			<div class="admin">
				<div class="pic">
					<img src="../image/img1/7.png"></img>
				</div>
				<div class="role">管理员</div>
				<div class="name">Admin</div>
			</div>
			<div class="nav">
				<div class="navbar navbar-normal navbar-active">
					<div class="onerow">
						<div class="left-icon">
							<div class="user-icon"></div>
						</div>
						<div class="navbarText">用户管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav navbar-nav-show">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
				<div class="navbar navbar-normal">
					<div class="onerow">
						<div class="left-icon">
							<div class="role-icon"></div>
						</div>
						<div class="navbarText">权限管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
				<div class="navbar navbar-normal">
					<div class="onerow">
						<div class="left-icon">
							<div class="new-icon"></div>
						</div>
						<div class="navbarText">新闻管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
				<div class="navbar navbar-normal">
					<div class="onerow">
						<div class="left-icon">
							<div class="data-icon"></div>
						</div>
						<div class="navbarText">数据管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
				<div class="navbar navbar-normal">
					<div class="onerow">
						<div class="left-icon">
							<div class="stock-icon"></div>
						</div>
						<div class="navbarText">股票管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bodyRight">
			<div class="bodyRightHeader">
				<div class="contantName">用户管理</div>
				<div class="contantSearch">
					<input class="inputSearch"  autocomplete="off" placeholder="请输入内容">
					<div class="search-icon"></div>
				</div>
			</div>
			<div class="bodyRightContent">
				<div class="rightContentHeader">
					<div class="contentHeaderBar">
						<div class="add-icon"></div>
						<div class="text">添加</div>
					</div>
					<a href="adminUser.html">
					<div class="contentHeaderBar">
						<div class="change-icon"></div>
						<div class="text">返回</div>
					</div>
					</a>
				</div>
				<div class="form">
					<div class="formCol">
						<div class="formColText">用户名</div>
						<div class="formColValue">
							<input  autocomplete="off" >
						</div>
					</div>
					<div class="formCol">
						<div class="formColText">地区</div>
						<div class="formColValue">
							<input type="text"></input>
						</div>
					</div>
					<div class="formCol">
						<div class="formColText">备注</div>
						<div class="formColValue">
							<input type="text"></input>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script>
		$(document).ready(function(){
			$(".onerow").on("click",function(){
				var target = this;
				$(".navbar").removeClass("navbar-active");
				$(this).closest(".navbar").addClass("navbar-active");
				$(".navbar-nav").removeClass("navbar-nav-show");
				$(this).parent().find(".navbar-nav").addClass("navbar-nav-show");
			})
			$(".tb-row").on("click",function(){
				if($(this).find(".checkbox").hasClass("boxchecked")){
					$(this).find(".checkbox").removeClass("boxchecked");
				}
				else{
					$(this).find(".checkbox").addClass("boxchecked");
				}
			})
			$(".pagination .num").on("click",function(){
				$(".pagination .num").removeClass("on");
				$(this).addClass("on");
			})
		})
		
	</script>
</body>
</html>