<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>adminUser | GuSoSo 股搜搜</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/adminUser.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="logo">
			<img src="../image/img1/5.png"></img>
		</div>
		<div class="settings">
			<div class="config">
				<div class="pic"></div>
				<div class="text">设置</div>
			</div>
			<div class="logout">
				<div class="pic"></div>
				<div class="text">退出</div>
			</div>
		</div>
		
	</div>
	<div class="body">
		<div class="bodyLeft">
			<div class="admin">
				<div class="pic">
					<img src="../image/img1/7.png"></img>
				</div>
				<div class="role">管理员</div>
				<div class="name">Admin</div>
			</div>
			<div class="nav">
				<div class="navbar navbar-normal navbar-active">
					<div class="onerow">
						<div class="left-icon">
							<div class="user-icon"></div>
						</div>
						<div class="navbarText">用户管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav navbar-nav-show">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
				<div class="navbar navbar-normal">
					<div class="onerow">
						<div class="left-icon">
							<div class="role-icon"></div>
						</div>
						<div class="navbarText">权限管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
				<div class="navbar navbar-normal">
					<div class="onerow">
						<div class="left-icon">
							<div class="new-icon"></div>
						</div>
						<div class="navbarText">新闻管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
				<div class="navbar navbar-normal">
					<div class="onerow">
						<div class="left-icon">
							<div class="data-icon"></div>
						</div>
						<div class="navbarText">数据管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
				<div class="navbar navbar-normal">
					<div class="onerow">
						<div class="left-icon">
							<div class="stock-icon"></div>
						</div>
						<div class="navbarText">股票管理</div>
						<div class="right-icon"></div>
					</div>
					<div class="navbar-nav">
						<div class="navbar-navbar">
							<a href="">宏观新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">产业新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">股票新闻管理</a>
						</div>
						<div class="navbar-navbar">
							<a href="">视频新闻管理</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bodyRight">
			<div class="bodyRightHeader">
				<div class="contantName">用户管理</div>
				<div class="contantSearch">
					<input class="inputSearch"  autocomplete="off" placeholder="请输入内容">
					<div class="search-icon"></div>
				</div>
			</div>
			<div class="bodyRightContent">
				<div class="rightContentHeader">
					<a href="adminUserAdd.html">
					<div class="contentHeaderBar addBar">
						<div class="add-icon"></div>
						<div class="text">添加</div>
						
					</div>
					</a>
					<div class="contentHeaderBar editBar">
						<div class="edit-icon"></div>
						<div class="text">编辑</div>
					</div>
					<div class="contentHeaderBar deleteBar">
						<div class="change-icon"></div>
						<div class="text">删除</div>
					</div>
				</div>
				<div class="table">
					<div class="tb-header">
						<div style="width:10%">全选</div>
						<div style="width:10%">编号</div>
						<div style="width:10%">用户名</div>
						<div style="width:10%">地区</div>
						<div style="width:20%">时间</div>
						<div style="width:40%">备注</div>
					</div>
					<div class="tb-row tb-single">
						<div style="width:10%">
							<div class="checkbox" index="1"></div>
						</div>
						<div style="width:10%">编号</div>
						<div style="width:10%">用户名</div>
						<div style="width:10%">地区</div>
						<div style="width:20%">时间</div>
						<div style="width:40%">备注</div>
					</div>
					<div class="tb-row tb-double">
						<div style="width:10%">
							<div class="checkbox" index="2"></div>
						</div>
						<div style="width:10%">编号</div>
						<div style="width:10%">用户名</div>
						<div style="width:10%">地区</div>
						<div style="width:20%">时间</div>
						<div style="width:40%">备注</div>
					</div>
					<div class="tb-row tb-single">
						<div style="width:10%">
							<div class="checkbox" index="3"></div>
						</div>
						<div style="width:10%">编号</div>
						<div style="width:10%">用户名</div>
						<div style="width:10%">地区</div>
						<div style="width:20%">时间</div>
						<div style="width:40%">备注</div>
					</div>
					<div class="tb-row tb-double">
						<div style="width:10%">
							<div class="checkbox" index="4"></div>
						</div>
						<div style="width:10%">编号</div>
						<div style="width:10%">用户名</div>
						<div style="width:10%">地区</div>
						<div style="width:20%">时间</div>
						<div style="width:40%">备注</div>
					</div>
				</div>
				<!--
				<table class="table">
					<tr class="tb-header">
						<td style="width:10%">全选</td>
						<td style="width:10%">编号</td>
						<td style="width:10%">用户名</td>
						<td style="width:10%">地区</td>
						<td style="width:20%">时间</td>
						<td style="width:40%">备注</td>
					</tr>
					<tr class="tb-row tb-single">
						<td style="width:10%">
							<div class="checkbox" index="1"></div>
						</td>
						<td style="width:10%">编号</td>
						<td style="width:10%">用户名</td>
						<td style="width:10%">地区</td>
						<td style="width:20%">时间</td>
						<td style="width:40%">备注</td>
					</tr>
					<tr class="tb-row tb-double">
						<td style="width:10%">
							<div class="checkbox"></div>
						</td>
						<td style="width:10%">编号</td>
						<td style="width:10%">用户名</td>
						<td style="width:10%">地区</td>
						<td style="width:20%">时间</td>
						<td style="width:40%">备注</td>
					</tr>
					<tr class="tb-row tb-single">
						<td style="width:10%">
							<div class="checkbox"></div>
						</td>
						<td style="width:10%">编号</td>
						<td style="width:10%">用户名</td>
						<td style="width:10%">地区</td>
						<td style="width:20%">时间</td>
						<td style="width:40%">备注</td>
					</tr>
					<tr class="tb-row tb-double">
						<td style="width:10%">
							<div class="checkbox"></div>
						</td>
						<td style="width:10%">编号</td>
						<td style="width:10%">用户名</td>
						<td style="width:10%">地区</td>
						<td style="width:20%">时间</td>
						<td style="width:40%">备注</td>
					</tr>
				</table>-->
				<div class="pageUl">
					<ul class="pagination">
							<li><span>«</span></li>
							<li><span class="num">1</span></li>
							<li><span class="num">2</span></li>
							<li><span class="num on">3</span></li>
							<li><span class="num">4</span></li>
							<li><span class="num">5</span></li>
							<li><span class="num">6</span></li>
							<li><span>»</span></li>
					</ul>
					<div class="toPage">
						<div class="toPageText">跳转到</div>
						<div class="toPageInputDiv">
							<input class="toPageInput" autocomplete="off" >
						</div>
						<div class="toPageBtn">GO</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script>
		$(document).ready(function(){
			$(".onerow").on("click",function(){
				var target = this;
				$(".navbar").removeClass("navbar-active");
				$(this).closest(".navbar").addClass("navbar-active");
				$(".navbar-nav").removeClass("navbar-nav-show");
				$(this).parent().find(".navbar-nav").addClass("navbar-nav-show");
			})
			$(".tb-row").on("click",function(){
				if($(this).find(".checkbox").hasClass("boxchecked")){
					$(this).find(".checkbox").removeClass("boxchecked");
				}
				else{
					$(this).find(".checkbox").addClass("boxchecked");
				}
			})
			$(".pagination .num").on("click",function(){
				$(".pagination .num").removeClass("on");
				$(this).addClass("on");
			})
			$(".deleteBar").on("click",function(){
				var _ids = "";
				$(".table .boxchecked").each(function(){
					_ids += " " + $(this).attr("index");
				})
				alert("删除点击，选中的项的id为"+ _ids);
			})
		})
		
	</script>
</body>
</html>