<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>home | GuSoSo 股搜搜</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/head.css" rel="stylesheet">
	<link href="../css/home.css" rel="stylesheet">
</head>
<body>
	<div id="userbar" class="userbar">
		<ul class="userbarUl">
			<li class="userBarHome"><a href="home.html">股搜搜首页</a></li>
			<li class=""><a href="">登陆</a></li>
			<li class=""><a href="">注册</a></li>
		</ul>
	</div>
	<div id="headerwrapper">
		<div id="header">
			<!--顶部搜索框-->
			<div class="logo-header">
				<img src="../image/logo_head.png" alt="" />
			</div>
			<div class="search">
				<div class="tab">
					<a href="home.html" class="cur-active">首页</a>
					<a href="news.html" class="cur">新闻</a>
					<a href="notice.html" class="cur">公告</a>
					<a href="report.html" class="cur">研报</a>
				</div>
				<div class="box">
					<div class="sugaarea">
						<span class="cut"></span>
						<input id="word" class="word"  name="word" maxlength="100" autocomplete="off">
						<span class="clean-word"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--contant-->
	<div id="body">
		<div class="contant clearfix">
			<div class="left-col">
				<div class="toparea-carousel"> <!--轮显-->
					<div id="imgplayer" class="imgplayer clearfix">
						<div id="imgview" class="imgview">
							<a href="#" target="_black" >
								<img id="imgview-img" src="../image/lx1.jpg">
							</a>
						</div>
						<div class="imgnav" id="imgnav">
							<a class="" index="4" href="javascript:void(0)">4</a>
							<a class="" index="3" href="javascript:void(0)">3</a>
							<a class="" index="2" href="javascript:void(0)">2</a>
							<a class="" index="1" href="javascript:void(0)">1</a>
							<a class="active" index="0" href="javascript:void(0)">0</a>
						</div>
						<div class="imgnav-mask"></div>
						<div class="imgtit" id="imgTitle">
							<a href="#" target="_blank">
								专家称房地产市场已实现软着陆 
							</a>
						</div>
					</div>
				</div>
				<div class="stock_frame">
					<div class="hbcjl">
						<div class="tb3" id="tb3">
							<div id="market" class="mod">
								<div class="cnt" id="quanqiu">
									<table cellpadding="0" cellspacing="0" width="100%">
									<tbody><tr class="nb">
										<td class="name">道琼斯</td>
										<td><span class="upRed">17,113.15</span></td>
										<td><span class="upRed">167.35</span></td>
										<td><span class="upRed">0.99%</span></td>
									</tr>
									<tr>
										<td class="name">纳斯达克</td>
										<td><span class="upRed">4,512.19</span></td>
										<td><span class="upRed">45.44</span></td>
										<td><span class="upRed">1.02%</span></td>
									</tr>
									<tr>
										<td class="name">标普500</td>
										<td><span class="upRed">1,982.85</span></td>
										<td><span class="upRed">16.86</span></td>
										<td><span class="upRed">0.86%</span></td>
									</tr>
									<tr>
										<td class="name">英国富时</td>
										<td><span class="upRed">6,649.39</span></td>
										<td><span class="upRed">9.68</span></td>
										<td><span class="upRed">0.15%</span></td>
									</tr>
									<tr>
										<td class="name">德国DAX</td>
										<td><span class="downGreen">9,490.55</span></td>
										<td><span class="downGreen">19.46</span></td>
										<td><span class="downGreen">0.2%</span></td>
									</tr>
									<tr>
										<td class="name">日经</td>
										<td><span class="downGreen">16,229.86</span></td>
										<td><span class="downGreen">144.28</span></td>
										<td><span class="downGreen">0.88%</span></td>

									</tr>
									<tr>
										<td class="name">新加坡</td>
										<td><span class="upRed">3,292.21</span></td>
										<td><span class="upRed">1.22</span></td>
										<td><span class="upRed">0.04%</span></td>
									</tr>
									<tr>
										<td class="name">台湾加权</td>
										<td><span class="downGreen">8,989.82</span></td>
										<td><span class="downGreen">21.77</span></td>
										<td><span class="downGreen">0.24%</span></td>
									</tr>
									<tr>
										<td class="name">台湾加权</td>
										<td><span class="downGreen">8,989.82</span></td>
										<td><span class="downGreen">21.77</span></td>
										<td><span class="downGreen">0.24%</span></td>
									</tr>
									
									</tbody></table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="stock_query">
					<div class="suggest_enter">
						<input type="text" name="code" id="wd2" autocomplete="off" >
						<span class="suggest_btn">
							<input type="submit" value="查询">
						</span>
					</div>
				</div>
			</div>
			<div class="middle-col">
				<div class="middle-new">
					<div class="moreDiv">
						<span class="moreText">公司新闻</span>
						<span class="more"><a href="more.html" target="_blank">更多</a></span>
					</div>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					
				</div>
			</div>
			<div class="right-col">
				<div class="right-col-mod">
					<div class="mod-hd">
						<a href="more.html">
						<div class="left-hd active">
							公告
							<span class="icon-more"></span>
						</div>
						
						<a href="more.html">
						<div class="right-hd">
							研报
							<span class="icon-more"></span>
						</div>
						</a>
					</div>
					<div class="mod-bd">
						<div class="instant-gg">
							<ul class="gg-list">
								<li><a href="#" target="_blank">东营消协发布旅游警示：购物时注意索取消费凭证</a></li>
								<li><a href="#" target="_blank">美9月密歇根大学消费者信心升至84.6</a></li>
								<li><a href="#" target="_blank">中消协曝光租车公司违规案例 租车自驾行需谨慎</a></li>
								<li><a href="#" target="_blank">美环保署出台汽车废气排放与燃油质量新标准</a></li>
								<li><a href="#" target="_blank">福州三分局：妥善处理网络产品质量投诉</a></li>
								<li><a href="#" target="_blank">打造闽台合作样板银行 福惠两岸消费者 </a></li>
								<li><a href="#" target="_blank">市工商局整治国庆市场 </a></li>
								<li><a href="#" target="_blank">市质监局“三建”推进质量建设 </a></li>
								<li><a href="#" target="_blank">美9月密歇根大学消费者信心升至84.6</a></li>
								<li><a href="#" target="_blank">东营消协发布旅游警示：购物时注意索取消费凭证</a></li>
								<li><a href="#" target="_blank">中消协曝光租车公司违规案例 租车自驾行需谨慎</a></li>
								<li><a href="#" target="_blank">美环保署出台汽车废气排放与燃油质量新标准</a></li>
								<li><a href="#" target="_blank">福州三分局：妥善处理网络产品质量投诉</a></li>
								<li><a href="#" target="_blank">打造闽台合作样板银行 福惠两岸消费者 </a></li>
								<li><a href="#" target="_blank">市工商局整治国庆市场 </a></li>								
							</ul>
						</div>
						<div class="instant-yb">
							<ul class="yb-list">
								<li><a href="#" target="_blank">市质监局“三建”推进质量建设 </a></li>
								<li><a href="#" target="_blank">东营消协发布旅游警示：购物时注意索取消费凭证</a></li>
								<li><a href="#" target="_blank">美9月密歇根大学消费者信心升至84.6</a></li>
								<li><a href="#" target="_blank">中消协曝光租车公司违规案例 租车自驾行需谨慎</a></li>
								<li><a href="#" target="_blank">美环保署出台汽车废气排放与燃油质量新标准</a></li>
								<li><a href="#" target="_blank">福州三分局：妥善处理网络产品质量投诉</a></li>
								<li><a href="#" target="_blank">打造闽台合作样板银行 福惠两岸消费者 </a></li>
								<li><a href="#" target="_blank">市工商局整治国庆市场 </a></li>
								<li><a href="#" target="_blank">市质监局“三建”推进质量建设 </a></li>
								<li><a href="#" target="_blank">美9月密歇根大学消费者信心升至84.6</a></li>
								<li><a href="#" target="_blank">东营消协发布旅游警示：购物时注意索取消费凭证</a></li>
								<li><a href="#" target="_blank">中消协曝光租车公司违规案例 租车自驾行需谨慎</a></li>
								<li><a href="#" target="_blank">美环保署出台汽车废气排放与燃油质量新标准</a></li>
								<li><a href="#" target="_blank">福州三分局：妥善处理网络产品质量投诉</a></li>
								<li><a href="#" target="_blank">打造闽台合作样板银行 福惠两岸消费者 </a></li>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contant clearfix">
			<div class="contant-title">
				<h2><a href="#" target="_blank">经济民生</a></h2>
				<div class="sub-class">ECONOMY AND PEOPLE'S LIVELIHOOD</div>
                <span class="line"></span>
			</div>
			<!--<div class="left-col">
				<div class="left-col-newlist">
					<ul>
						<li><a href="#" target="_blank">经济学家吴敬琏在讲座结束后拿未喝完半瓶水</a></li>
						<li><a href="#" target="_blank">李嘉诚加码东莞 百佳再开分店 </a></li>
						<li><a href="#" target="_blank">马云控股恒生电子尘埃落定 中国金融IT迎重要转折</a></li>
						<li><a href="#" target="_blank">金岩石：马云把中国梦卖出了天价</a></li>
						<li><a href="#" target="_blank">经济学家吴敬琏在讲座结束后拿未喝完半瓶水</a></li>
						<li><a href="#" target="_blank">李嘉诚加码东莞 百佳再开分店 </a></li>
						<li><a href="#" target="_blank">马云控股恒生电子尘埃落定 中国金融IT迎重要转折</a></li>
						<li><a href="#" target="_blank">金岩石：马云把中国梦卖出了天价</a></li>
						<li><a href="#" target="_blank">经济学家吴敬琏在讲座结束后拿未喝完半瓶水</a></li>
						<li><a href="#" target="_blank">李嘉诚加码东莞 百佳再开分店 </a></li>
						<li><a href="#" target="_blank">马云控股恒生电子尘埃落定 中国金融IT迎重要转折</a></li>
						<li><a href="#" target="_blank">金岩石：马云把中国梦卖出了天价</a></li>
						<li><a href="#" target="_blank">经济学家吴敬琏在讲座结束后拿未喝完半瓶水</a></li>
						<li><a href="#" target="_blank">李嘉诚加码东莞 百佳再开分店 </a></li>
						<li><a href="#" target="_blank">马云控股恒生电子尘埃落定 中国金融IT迎重要转折</a></li>
						<li><a href="#" target="_blank">金岩石：马云把中国梦卖出了天价</a></li>
						<li><a href="#" target="_blank">经济学家吴敬琏在讲座结束后拿未喝完半瓶水</a></li>
					
					</ul>
				</div>
			</div>-->
			<div class="middle-col-jsms">
				<div class="middle-new">
					<div class="moreDiv">
						<span class="moreText">行业新闻</span>
						<span class="more"><a href="more.html" target="_blank">更多</a></span>
					</div>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					
				</div>
			</div>
			<div class="middle-col-jsms">
				<div class="middle-new">
					<div class="moreDiv">
						<span class="moreText">宏观</span>
						<span class="more"><a href="more.html" target="_blank">更多</a></span>
					</div>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					<ul class="middle-new-list">
						<li><a href="#" target="_blank">前8个月全国规模以上工业企业利润增速回落至10%</a></li>
						<li><a href="#" target="_blank">“沪港通”行情在路上:AH股价差再收缩</a></li>   
						<li><a href="#" target="_blank">发改委正式核定4个核电站项目开工计划 6股成摇钱树</a></li>   
						<li><a href="#" target="_blank">煤电步入高效清洁发展快车道 </a></li>		   
						<li><a href="#" target="_blank">公募基金的人才困境：行业全方位“优胜劣汰”缓..</a></li>
					</ul>
					
				</div>
			</div>
			<div class="right-col">
				<div class="mod focus-aside-video">
					<div class="hd">
						<h3>
							<a href="more.html" target="_blank">财经视频</a>
							
						</h3>
						<span class="icon-more"></span>
					</div>
					<div class="bd">
						<div class="finacial-video">
							<div class="pic-list">
								<ul>
									<li>
										<a href="#" target="_blank">
											<img src="http://t2.baidu.com/it/u=3518822164,1782553985&amp;fm=20">
											<span class="title">人民币即期昨日创半年来最大单日跌幅</span>
										</a>
									</li>
									<li>
										<a href="#" target="_blank">
											<img src="http://t3.baidu.com/it/u=3188310345,1737724753&amp;fm=20">
											<span class="title">丰田合成操纵汽车零部件价格被罚2600万</span>
										</a>
									</li>
								</ul>
							</div>
							<ul class="ulist mix-ulist ">
                                <li><a href="#" target="_blank">苹果涉非法避税 面临数十亿欧元罚单</a></li>
								<li><a href="#" target="_blank">内地油价十年来首迎“五连跌” 国庆出行成本再降</a></li>
								<li><a href="#" target="_blank">民营银行靴子落地 鲶鱼效应值得关注</a></li>
								<li><a href="#" target="_blank">苹果涉非法避税 面临数十亿欧元罚单</a></li>
								<li><a href="#" target="_blank">内地油价十年来首迎“五连跌” 国庆出行成本再降</a></li>
								<li><a href="#" target="_blank">民营银行靴子落地 鲶鱼效应值得关注</a></li>
								<li><a href="#" target="_blank">苹果涉非法避税 面临数十亿欧元罚单</a></li>
								<li><a href="#" target="_blank">内地油价十年来首迎“五连跌” 国庆出行成本再降</a></li>
								<li><a href="#" target="_blank">民营银行靴子落地 鲶鱼效应值得关注</a></li>
								<li><a href="#" target="_blank">苹果涉非法避税 面临数十亿欧元罚单</a></li>
								<li><a href="#" target="_blank">内地油价十年来首迎“五连跌” 国庆出行成本再降</a></li>
								
								<!--MONITOR FINANNEWS_JDXW1 OK 5 HOTAREA-->
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contant sj clearfix">
			<div class="column-title">
				<div class="column-title-border">
					<h2>数据</h2>
					<div class="sub-class">
						DATA
					</div>
					<span class="line"></span>
				</div>
			</div>
			<div class="sj-left-col">
				<div class="hd">
					<h3>
						<a target="_blank" href="#">沪深涨跌幅排行榜</a>
						<span class="dec">CASE MANAGEMENT</span>
					</h3>
					<a target="_blank" href="#" class="more"></a>
                </div>
				<div class="bd">
					<div class="phb">
						<div class="imgtab">
							<div class="tab-wrapper">
								<div class="tab1" id="span1">
									<span index="0" onmouseover="displayimg(0,this,1);" class="on">沪涨幅前十</span>
									<span index="1" onmouseover="displayimg(1,this,1);" class="">沪跌幅前十</span>
									<span index="2" onmouseover="displayimg(2,this,1);" class="">深涨幅前十</span>
									<span index="3" onmouseover="displayimg(3,this,1);" class="">深跌幅前十</span>
								</div>
							</div>
							<div class="sj-left-tab" index="0" id="sj-left-tab0" style="display:block">
								<table>
									<tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="red">4.68</span></td>
									<td><span class="upRedArrow">+44.00%</span></td>
									<td><span class="upRedArrow">+1.43</span></td>
									</tr>
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="red">2.92</span></td>
									<td><span class="upRedArrow">+10.19%</span></td>
									<td><span class="upRedArrow">+0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">+10.04%</span></td>
									<td><span class="upRedArrow">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">+10.02%</span></td>
									<td><span class="upRedArrow">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">+10.01%</span></td>
									<td><span class="upRedArrow">+1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">+10.00%</span></td>
									<td><span class="upRedArrow">+0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">+10.04%</span></td>
									<td><span class="upRedArrow">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">+10.02%</span></td>
									<td><span class="upRedArrow">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">+10.01%</span></td>
									<td><span class="upRedArrow">+1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">+10.00%</span></td>
									<td><span class="upRedArrow">+0.59</span></td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="sj-left-tab" index="1" id="sj-left-tab1" style="display:none">
								<table><tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="green">2.92</span></td>
									<td><span class="downGreenArrow">-10.19%</span></td>
									<td><span class="downGreenArrow">-0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="downGreenArrow">-10.04%</span></td>
									<td><span class="downGreenArrow">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="downGreenArrow">-10.02%</span></td>
									<td><span class="downGreenArrow">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="downGreenArrow">-10.01%</span></td>
									<td><span class="downGreenArrow">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="downGreenArrow">-10.00%</span></td>
									<td><span class="downGreenArrow">-0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="downGreenArrow">-10.04%</span></td>
									<td><span class="downGreenArrow">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="downGreenArrow">-10.02%</span></td>
									<td><span class="downGreenArrow">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="downGreenArrow">-10.01%</span></td>
									<td><span class="downGreenArrow">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="downGreenArrow">-10.00%</span></td>
									<td><span class="downGreenArrow">-0.59</span></td>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="green">4.68</span></td>
									<td><span class="downGreenArrow">-44.00%</span></td>
									<td><span class="downGreenArrow">-1.43</span></td>
									</tr>
								</tbody></table>
							</div>
							<div class="sj-left-tab" index="2" id="sj-left-tab2" style="display:none">
								<table><tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">+10.00%</span></td>
									<td><span class="upRedArrow">+0.59</span></td>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="red">4.68</span></td>
									<td><span class="upRedArrow">+44.00%</span></td>
									<td><span class="upRedArrow">+1.43</span></td>
									</tr>
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="red">2.92</span></td>
									<td><span class="upRedArrow">+10.19%</span></td>
									<td><span class="upRedArrow">+0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">+10.04%</span></td>
									<td><span class="upRedArrow">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">+10.02%</span></td>
									<td><span class="upRedArrow">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">+10.01%</span></td>
									<td><span class="upRedArrow">+1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">+10.00%</span></td>
									<td><span class="upRedArrow">+0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">+10.04%</span></td>
									<td><span class="upRedArrow">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">+10.02%</span></td>
									<td><span class="upRedArrow">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">+10.01%</span></td>
									<td><span class="upRedArrow">+1.44</span></td>
									</tr>
									
								</tbody></table>
							</div>
							<div class="sj-left-tab" index="3" id="sj-left-tab3" style="display:none">
								<table><tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="downGreenArrow">-10.04%</span></td>
									<td><span class="downGreenArrow">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="downGreenArrow">-10.02%</span></td>
									<td><span class="downGreenArrow">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="downGreenArrow">-10.01%</span></td>
									<td><span class="downGreenArrow">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="downGreenArrow">-10.00%</span></td>
									<td><span class="downGreenArrow">-0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="downGreenArrow">-10.04%</span></td>
									<td><span class="downGreenArrow">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="downGreenArrow">-10.02%</span></td>
									<td><span class="downGreenArrow">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="downGreenArrow">-10.01%</span></td>
									<td><span class="downGreenArrow">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="downGreenArrow">-10.00%</span></td>
									<td><span class="downGreenArrow">-0.59</span></td>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="green">4.68</span></td>
									<td><span class="downGreenArrow">-44.00%</span></td>
									<td><span class="downGreenArrow">-1.43</span></td>
									</tr>
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="green">2.92</span></td>
									<td><span class="downGreenArrow">-10.19%</span></td>
									<td><span class="downGreenArrow">-0.27</span></td>
									</tr>
								</tbody></table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sj-middle-col">
				<div class="hd">
					<h3>
						<a target="_blank" href="#">港股创业版涨跌幅排行榜</a>
						<span class="dec">CASE MANAGEMENT</span>
					</h3>
					<a target="_blank" href="#" class="more"></a>
                </div>
				<div class="bd">
					<div class="phb">
						<div class="imgtab">
							<div class="tab-wrapper">
								<div class="tab2" id="span2">
									<span index="0" onmouseover="displayimg(0,this,2);" class="on">沪涨幅前十</span>
									<span index="1" onmouseover="displayimg(1,this,2);" class="">沪跌幅前十</span>
									<span index="2" onmouseover="displayimg(2,this,2);" class="">创业涨幅前十</span>
									<span index="3" onmouseover="displayimg(3,this,2);" class="">创业跌幅前十</span>
								</div>
							</div>
							<div class="sj-middle-tab" index="0" id="sj-middle-tab0" style="display:block">
								<table>
									<tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="red">4.68</span></td>
									<td><span class="upRedArrow">+44.00%</span></td>
									<td><span class="upRedArrow">+1.43</span></td>
									</tr>
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="red">2.92</span></td>
									<td><span class="upRedArrow">+10.19%</span></td>
									<td><span class="upRedArrow">+0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">+10.04%</span></td>
									<td><span class="upRedArrow">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">+10.02%</span></td>
									<td><span class="upRedArrow">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">+10.01%</span></td>
									<td><span class="upRedArrow">+1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">+10.00%</span></td>
									<td><span class="upRedArrow">+0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">+10.04%</span></td>
									<td><span class="upRedArrow">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">+10.02%</span></td>
									<td><span class="upRedArrow">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">+10.01%</span></td>
									<td><span class="upRedArrow">+1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">+10.00%</span></td>
									<td><span class="upRedArrow">+0.59</span></td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="sj-middle-tab" index="1" id="sj-middle-tab1" style="display:none">
								<table><tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="green">2.92</span></td>
									<td><span class="green">-10.19%</span></td>
									<td><span class="green">-0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="green">-10.04%</span></td>
									<td><span class="green">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="green">-10.02%</span></td>
									<td><span class="green">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="green">-10.01%</span></td>
									<td><span class="green">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="green">-10.00%</span></td>
									<td><span class="green">-0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="green">-10.04%</span></td>
									<td><span class="green">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="green">-10.02%</span></td>
									<td><span class="green">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="green">-10.01%</span></td>
									<td><span class="green">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="green">-10.00%</span></td>
									<td><span class="green">-0.59</span></td>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="green">4.68</span></td>
									<td><span class="green">-44.00%</span></td>
									<td><span class="green">-1.43</span></td>
									</tr>
								</tbody></table>
							</div>
							<div class="sj-middle-tab" index="2" id="sj-middle-tab2" style="display:none">
								<table><tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">+10.00%</span></td>
									<td><span class="upRedArrow">+0.59</span></td>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="red">4.68</span></td>
									<td><span class="upRedArrow">+44.00%</span></td>
									<td><span class="upRedArrow">+1.43</span></td>
									</tr>
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="red">2.92</span></td>
									<td><span class="upRedArrow">+10.19%</span></td>
									<td><span class="upRedArrow">+0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">+10.04%</span></td>
									<td><span class="upRedArrow">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">+10.02%</span></td>
									<td><span class="upRedArrow">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">+10.01%</span></td>
									<td><span class="upRedArrow">+1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">+10.00%</span></td>
									<td><span class="upRedArrow">+0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">+10.04%</span></td>
									<td><span class="upRedArrow">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">+10.02%</span></td>
									<td><span class="upRedArrow">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">+10.01%</span></td>
									<td><span class="upRedArrow">+1.44</span></td>
									</tr>
									
								</tbody></table>
							</div>
							<div class="sj-middle-tab" index="3" id="sj-middle-tab3" style="display:none">
								<table><tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="green">-10.04%</span></td>
									<td><span class="green">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="green">-10.02%</span></td>
									<td><span class="green">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="green">-10.01%</span></td>
									<td><span class="green">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="green">-10.00%</span></td>
									<td><span class="green">-0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="green">-10.04%</span></td>
									<td><span class="green">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="green">-10.02%</span></td>
									<td><span class="green">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="green">-10.01%</span></td>
									<td><span class="green">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="green">-10.00%</span></td>
									<td><span class="green">-0.59</span></td>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="green">4.68</span></td>
									<td><span class="green">-44.00%</span></td>
									<td><span class="green">-1.43</span></td>
									</tr>
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="green">2.92</span></td>
									<td><span class="green">-10.19%</span></td>
									<td><span class="green">-0.27</span></td>
									</tr>
								</tbody></table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sj-right-col">
				<div class="hd">
					<h3>
						<a target="_blank" href="#">全球股市 </a>
						<span class="dec">CASE MANAGEMENT</span>
					</h3>
					<a target="_blank" href="#" class="more"></a>
                </div>
				<div class="bd">
					<div class="phb">
						<div class="imgtab">
							<div class="tab-wrapper">
								<div class="tab3" id="span3">
									<span index="0" onmouseover="displayimg(0,this,3);" class="on">中概股涨幅前十</span>
									<span index="1" onmouseover="displayimg(1,this,3);" class="">中概股跌幅前十</span>
									<span index="2" onmouseover="displayimg(2,this,3);" class="">全球指数</span>
								</div>
							</div>
							<div class="sj-right-tab" index="0" id="sj-right-tab0" style="display:block">
								<table>
									<tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="red">4.68</span></td>
									<td><span class="upRedArrow">44.00%</span></td>
									<td><span class="upRedArrow">1.43</span></td>
									</tr>
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="red">2.92</span></td>
									<td><span class="upRedArrow">10.19%</span></td>
									<td><span class="upRedArrow">0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">10.04%</span></td>
									<td><span class="upRedArrow">0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">10.02%</span></td>
									<td><span class="upRedArrow">1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">10.01%</span></td>
									<td><span class="upRedArrow">1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">10.00%</span></td>
									<td><span class="upRedArrow">0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="upRedArrow">10.04%</span></td>
									<td><span class="upRedArrow">0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="upRedArrow">10.02%</span></td>
									<td><span class="upRedArrow">1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="upRedArrow">10.01%</span></td>
									<td><span class="upRedArrow">1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="upRedArrow">10.00%</span></td>
									<td><span class="upRedArrow">0.59</span></td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="sj-right-tab" index="1" id="sj-right-tab1" style="display:none">
								<table><tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="green">2.92</span></td>
									<td><span class="green">-10.19%</span></td>
									<td><span class="green">-0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="green">-10.04%</span></td>
									<td><span class="green">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="green">-10.02%</span></td>
									<td><span class="green">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="green">-10.01%</span></td>
									<td><span class="green">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="green">-10.00%</span></td>
									<td><span class="green">-0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="green">10.19</span></td>
									<td><span class="green">-10.04%</span></td>
									<td><span class="green">-0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="green">20.64</span></td>
									<td><span class="green">-10.02%</span></td>
									<td><span class="green">-1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="green">15.82</span></td>
									<td><span class="green">-10.01%</span></td>
									<td><span class="green">-1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="green">6.49</span></td>
									<td><span class="green">-10.00%</span></td>
									<td><span class="green">-0.59</span></td>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="green">4.68</span></td>
									<td><span class="green">-44.00%</span></td>
									<td><span class="green">-1.43</span></td>
									</tr>
								</tbody></table>
							</div>
							<div class="sj-right-tab" index="2" id="sj-right-tab2" style="display:none">
								<table><tbody>
									<tr>
									<th class="firstleft">股票简称</th>
									<th>最新价</th>
									<th>涨跌幅</th>
									<th>涨跌额</th>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="red">+10.00%</span></td>
									<td><span class="red">+0.59</span></td>
									</tr>
									<tr>
									<td class="firstleft">N重燃</td>
									<td><span class="red">4.68</span></td>
									<td><span class="red">+44.00%</span></td>
									<td><span class="red">+1.43</span></td>
									</tr>
									<tr>
									<td class="firstleft">中国电建</td>
									<td><span class="red">2.92</span></td>
									<td><span class="red">+10.19%</span></td>
									<td><span class="red">+0.27</span></td>
									</tr>
									<tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="red">+10.04%</span></td>
									<td><span class="red">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="red">+10.02%</span></td>
									<td><span class="red">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="red">+10.01%</span></td>
									<td><span class="red">+1.44</span></td>
									</tr>
									<tr class="last">
									<td class="firstleft">南通科技</td>
									<td><span class="red">6.49</span></td>
									<td><span class="red">+10.00%</span></td>
									<td><span class="red">+0.59</span></td>
									</tr>
									<td class="firstleft">禾嘉股份</td>
									<td><span class="red">10.19</span></td>
									<td><span class="red">+10.04%</span></td>
									<td><span class="red">+0.93</span></td>
									</tr>
									<tr>
									<td class="firstleft">天润乳业</td>
									<td><span class="red">20.64</span></td>
									<td><span class="red">+10.02%</span></td>
									<td><span class="red">+1.88</span></td>
									</tr>
									<tr>
									<td class="firstleft">国投中鲁</td>
									<td><span class="red">15.82</span></td>
									<td><span class="red">+10.01%</span></td>
									<td><span class="red">+1.44</span></td>
									</tr>
									
								</tbody></table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>©2014 GuSoSo 浙ICP备05017081号<a target="_blank" href="http://www.bj.cyberpolice.cn/index.htm"><img alt="首都网络110报警服务" src="http://gimg.baidu.com/image/110.gif"></a></p>
	</div>
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script>
		$(document).ready(function(){
			//轮显
			imageIndex = 0;
			var arr = [];
			arr.imageList = ["../image/lx1.jpg","../image/lx2.jpg","../image/lx3.jpg","../image/lx4.jpg","../image/lx5.jpg"];
			arr.textlist =  ["专家称房地产市场已实现软着陆","蓝翔为什么是“神一样的存在”","iPhone6成本揭秘 苹果太黑"," 看王健林如何从首富走向首负 "," 习近平反腐目的是反寡头 "];
			/*$(".imgnav a").on("click",function(){
				//console.log($(this).attr("index"));
				imageIndex = $(this).attr("index");
				$(".imgnav a").removeClass("active");
				$(this).addClass("active");
				$("#imgview-img").attr("src",arr.imageList[imageIndex]);
				$("#imgTitle").html('<a id="imgTitle-a" href="#" target="_blank">'+arr.textlist[imageIndex]+'</a>');
			})*/
			$(".imgnav a").hover(function(){
				//console.log($(this).attr("index"));
				imageIndex = $(this).attr("index");
				$(".imgnav a").removeClass("active");
				$(this).addClass("active");
				$("#imgview-img").attr("src",arr.imageList[imageIndex]);
				$("#imgTitle").html('<a id="imgTitle-a" href="#" target="_blank">'+arr.textlist[imageIndex]+'</a>');
			})
			setInterval(changePic,3000);
			function changePic(){
				if(imageIndex<2){
					imageIndex++;
				}
				else{
					imageIndex=0;
				}
				//console.log(imageIndex);
				$("#imgview-img").attr("src",arr.imageList[imageIndex]);
				$("#imgTitle").html('<a id="imgTitle-a" href="#" target="_blank">'+arr.textlist[imageIndex]+'</a>');
				$(".imgnav a").each(function(){
					if($(this).attr("index")==imageIndex){
						imageIndex = $(this).attr("index");
						$(".imgnav a").removeClass("active");
						$(this).addClass("active");
						$("#imgview-img").attr("src",arr.imageList[imageIndex]);
						$("#imgTitle").html('<a id="imgTitle-a" href="#" target="_blank">'+arr.textlist[imageIndex]+'</a>');
					}
				})
			}
			$(".left-hd").hover(function(){
				if($(this).hasClass("active"))
				{}
				else{
					$(this).addClass("active");
				}
				$(".right-hd").removeClass("active");
				$(".instant-gg").css("display","block");
				$(".instant-yb").css("display","none");
			})
			$(".right-hd").hover(function(){
				if($(this).hasClass("active"))
				{}
				else{
					$(this).addClass("active");
				}
				$(".left-hd").removeClass("active");
				$(".instant-gg").css("display","none");
				$(".instant-yb").css("display","block");
			})
			
			
		})
		//数据 tab
		function displayimg(num,target,code){
			$("#span"+code+" span").removeClass("on");
			$("#span"+code+" span[index='"+num+"']").addClass("on");
			if(code==1){
				$(".sj-left-tab").css("display","none");
				$(".sj-left-tab[index='"+num+"']").css("display","block");
			}
			else if(code==2){
				$(".sj-middle-tab").css("display","none");
				$(".sj-middle-tab[index='"+num+"']").css("display","block");
			}
			else if(code==3){
				$(".sj-right-tab").css("display","none");
				$(".sj-right-tab[index='"+num+"']").css("display","block");
			}
		}
	</script>
</body>
</html>