<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>more | GuSoSo 股搜搜</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/head.css" rel="stylesheet">
	<link href="../css/more.css" rel="stylesheet">
</head>
<body>
	<div id="userbar" class="userbar">
		<ul class="userbarUl">
			<li class="userBarHome"><a href="home.html">股搜搜首页</a></li>
			<li class=""><a href="">登陆</a></li>
			<li class=""><a href="">注册</a></li>
		</ul>
	</div>
	<div id="headerwrapper">
		<div id="header">
			<!--顶部搜索框-->
			<div class="logo-header">
				<img src="../image/logo_head.png" alt="" />
			</div>
			<div class="search">
				<div class="tab">
					<a href="home.html" class="cur">首页</a>
					<a href="news.html" class="cur">新闻</a>
					<a href="notice.html" class="cur">公告</a>
					<a href="report.html" class="cur">研报</a>
				</div>
				<div class="box">
					<div class="sugaarea">
						<span class="cut"></span>
						<input id="word" class="word"  name="word" maxlength="100" autocomplete="off">
						<span class="clean-word"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--content-->
	<div class="body">
		<div class="contant clearfix">
			<div class="left-col">
				<div class="main-contant">
				<ul class="newslist">
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【强烈推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【增持】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【强烈推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【增持】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08 12:58]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01 12:58]</span>
							</div>
						</div>
					</li>
				</ul>
				</div>
				<div class="left-col-bottom">
					<div class="pagination-logo">
						<img src="../image/logo_foot.png" />
					</div>
					<div>
					<ul class="pagination">
						<li><span>&laquo;</span></li>
						<li><span class="num">1</span></li>
						<li><span class="num">2</span></li>
						<li><span class="num on">3</span></li>
						<li><span class="num">4</span></li>
						<li><span class="num">5</span></li>
						<li><span class="num">6</span></li>
						<li><span>&raquo;</span></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>©2014 GuSoSo 浙ICP备05017081号<a target="_blank" href="http://www.bj.cyberpolice.cn/index.htm"><img alt="首都网络110报警服务" src="http://gimg.baidu.com/image/110.gif"></a></p>
	</div>
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script>
		$(document).ready(function(){
			$(".pagination .num").on("click",function(){
				$(".pagination .num").removeClass("on");
				$(this).addClass("on");
			})
		})
	</script>
</body>
</html>