<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>Register | GuSoSo 股搜搜</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/loginregister.css" rel="stylesheet">
</head>
<body>
	<div class="loginContent">
		<div class="loginLogo">
			<img src="../image/img1/logo_head.png"></img>
		</div>
		<div class="loginForm">
			<div class="row">
				<div class="leftText">手机号码</div>
				<div class="registerPhone">
					<input class="input-loginUser"  maxlength="100" autocomplete="off" placeholder="手机号码">
				</div>
			</div>
			<div class="row">
				<div class="leftText">电子邮件</div>
				<div class="registerEmail">
					<input class="input-loginUser"  maxlength="100" autocomplete="off" placeholder="电子邮件">
				</div>
			</div>
			<div class="row">
				<div class="leftText">设置密码</div>
				<div class="registerPass">
					<input class="input-loginUser"  maxlength="100" autocomplete="off" placeholder="设置密码">
				</div>
			</div>
			<div class="row">
				<div class="leftText">确认密码</div>
				<div class="registerPassDouble">
					<input class="input-loginUser"  maxlength="100" autocomplete="off" placeholder="确认密码">
				</div>
			</div>
			<div class="row">
				<div class="registerSureBtn">确认注册</div>
			</div>
			
		</div>
	</div>
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script>
		$(document).ready(function(){
			$(".registerSureBtn").on("click",function(){
				alert("注册点击！");
			})
		})
	</script>
</body>
</html>