<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>report | GuSoSo 股搜搜</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/head.css" rel="stylesheet">
	<link href="../css/report.css" rel="stylesheet">
</head>
<body>
	<div id="userbar" class="userbar">
		<ul class="userbarUl">
			<li class="userBarHome"><a href="home.html">股搜搜首页</a></li>
			<li class=""><a href="">登陆</a></li>
			<li class=""><a href="">注册</a></li>
		</ul>
	</div>
	<div id="headerwrapper">
		<div id="header">
			<!--顶部搜索框-->
			<div class="logo-header">
				<img src="../image/logo_head.png" alt="" />
			</div>
			<div class="search">
				<div class="tab">
					<a href="home.html" class="cur">首页</a>
					<a href="news.html" class="cur">新闻</a>
					<a href="notice.html" class="cur">公告</a>
					<a href="report.html" class="cur-active">研报</a>
				</div>
				<div class="box">
					<div class="sugaarea">
						<span class="cut"></span>
						<input id="word" class="word"  name="word" maxlength="100" autocomplete="off">
						<span class="clean-word"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--content-->
	<div class="body">
		<div class="contant clearfix">
			<div class="main-bar">
				<div class="newinfo">
					<div class="bar-left">
						<span class="name">汤臣倍建[300146]</span>
					</div>
					<div class="bar-middle">
						<div class="bar-many">
							<span class="bar-many-text">多方</span>
							<span class="bar-many-pic"></span>
						</div>
						<div class="bar-percent">
							<div class="bar-percent-text">
								<span class="bar-percent-text-many">69.5%</span>
								<span class="bar-percent-text-empty">31.5%</span>
							</div>
							<div class="bar-percent-bar">
								<div class="bar-percent-bar-many" style="width:69.5%"></div>
							</div>
						</div>
						<div class="bar-empty">
							<span class="bar-empty-pic"></span>
							<span class="bar-empty-text">空方</span>
						</div>
					</div>
					<div class="bar-right">
						<span class="totalNum">搜到约2,896条结果</span>
					</div>
				</div>
				<div class="focus">
					<div class="focus-div">
						<span class="focus-pic"></span>
						<span class="focus-text">关 注</span>
					</div>
				</div>
			</div>
			<div class="left-col">
				<div class="main-contant">
				<ul class="newslist">
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【买入】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【强烈推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【增持】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【强烈推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【增持】：<a href="" >户外产业链的整合者</a>  </span>
								<span class="li-date">[2014-09-08]</span>
							</div>
						</div>
					</li>
					<li>
						<div class="li-summary">
							<div class="li-title">
								<span class="li-main"><a href="">光大证劵</a>【推荐】：<a href="" >3900万控股”极之美“介入高端深度体验式主题旅行，构建完善的户外生态系统；强调对公司推荐评级</a>  </span>
								<span class="li-date">[2014-09-01]</span>
							</div>
						</div>
					</li>
				</ul>
				</div>
				<div class="left-col-bottom">
					<div class="pagination-logo">
						<img src="../image/logo_foot.png" />
					</div>
					<div>
					<ul class="pagination">
						<li><span>&laquo;</span></li>
						<li><span class="num">1</span></li>
						<li><span class="num">2</span></li>
						<li><span class="num on">3</span></li>
						<li><span class="num">4</span></li>
						<li><span class="num">5</span></li>
						<li><span class="num">6</span></li>
						<li><span>&raquo;</span></li>
					</ul>
					</div>
				</div>
			</div>
			<div class="right-col">
				<div class="hot-search">
					<div class="hot-hd">
						<div class="hot-hd-text">热门搜索</div>
					</div>
					<ul class="hot-search-list">
						<li class="red"><a href="#">浙大网新</a></li>
						<li class="red"><a href="#">网宿科技</a></li>
						<li class="red"><a href="#">平安银行</a></li>
						<li class="black"><a href="#">汤臣倍健</a></li>
						<li class="black"><a href="#">煌上煌</a></li>
						<li class="black"><a href="#">民生银行</a></li>
						<li class="black"><a href="#">招商银行</a></li>
						<li class="black"><a href="#">中天建筑</a></li>
						<li class="black"><a href="#">中国移动</a></li>
						<li class="black"><a href="#">国泰药业</a></li>
					</ul>
				</div>
				<div class="hot-search">
					<div class="hot-hd">
						<div class="hot-hd-text">搜索历史</div>
					</div>
					<ul class="hot-search-list">
						<li><a href="#">浙大网新</a></li>
						<li><a href="#">网宿科技</a></li>
						<li><a href="#">平安银行</a></li>
						<li><a href="#">汤臣倍健</a></li>
						<li><a href="#">煌上煌</a></li>
						<li style="margin-top: 10px;"><span class="hot-search-btn-clean">清除</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>©2014 GuSoSo 浙ICP备05017081号<a target="_blank" href="http://www.bj.cyberpolice.cn/index.htm"><img alt="首都网络110报警服务" src="http://gimg.baidu.com/image/110.gif"></a></p>
	</div>
	<script src="../js/jquery-1.11.1.min.js" ></script>
	<script>
		$(document).ready(function(){
			$(".pagination .num").on("click",function(){
				$(".pagination .num").removeClass("on");
				$(this).addClass("on");
			})
		})
	</script>
</body>
</html>