<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>艾滋病随访登记卡</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/common.css" rel="stylesheet">
	<link href="../css/djK.css" rel="stylesheet">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/date.js"></script>
</head>
<body>
	<div class="djk_div" style="margin:20px auto 160px auto;">
		<div class="djk_tr djk_th djk_tr_title">
			个人基本信息
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">抗病毒治疗号<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">上次随访时CD4细胞</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">个/ul
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">姓名<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">路人甲</label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">性别</div>
			<div class="djk_td djk_td_value" >
				<div class="djk_label">
					<label class="" for="" id="">男</label>
				</div>
				<div class="djk_value djk_value_radio" >
					<label><input name="sex" type="radio" value="0" />男 </label>
					<label><input name="sex" type="radio" value="1" />女 </label>
				</div>
			</div>	
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">出生日期</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">身份证<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">工作单位（联系方式）<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">家庭电话</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			服药情况
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">是否服药<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="sfaz_sffy" type="radio" value="0">是 </label>
					<label><input name="sfaz_sffy" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			症状体征
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">发热</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzfr" type="radio" value="0">有 </label>
					<label><input name="zxazzztzfr" type="radio" value="1">无 </label>
					<label><input name="zxazzztzfr" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">咳嗽</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzks" type="radio" value="0">有 </label>
					<label><input name="zxazzztzks" type="radio" value="1">无 </label>
					<label><input name="zxazzztzks" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			
			<div class="djk_td djk_th djk_td_title">咳痰</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzkt" type="radio" value="0">有 </label>
					<label><input name="zxazzztzkt" type="radio" value="1">无 </label>
					<label><input name="zxazzztzkt" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">呼吸困难</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzhxkn" type="radio" value="0">有 </label>
					<label><input name="zxazzztzhxkn" type="radio" value="1">无 </label>
					<label><input name="zxazzztzhxkn" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">胸痛</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzxt" type="radio" value="0">有 </label>
					<label><input name="zxazzztzxt" type="radio" value="1">无 </label>
					<label><input name="zxazzztzxt" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">夜间盗汗</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzyjdh" type="radio" value="0">有 </label>
					<label><input name="zxazzztzyjdh" type="radio" value="1">无 </label>
					<label><input name="zxazzztzyjdh" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">腹泻</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzfx" type="radio" value="0">有 </label>
					<label><input name="zxazzztzfx" type="radio" value="1">无 </label>
					<label><input name="zxazzztzfx" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">恶心</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzyjex" type="radio" value="0">有 </label>
					<label><input name="zxazzztzyjex" type="radio" value="1">无 </label>
					<label><input name="zxazzztzyjex" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			
			<div class="djk_td djk_th djk_td_title">喷射性呕吐</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzpsxot" type="radio" value="0">有 </label>
					<label><input name="zxazzztzpsxot" type="radio" value="1">无 </label>
					<label><input name="zxazzztzpsxot" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">头痛</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzyjtout" type="radio" value="0">有 </label>
					<label><input name="zxazzztzyjtout" type="radio" value="1">无 </label>
					<label><input name="zxazzztzyjtout" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			
			<div class="djk_td djk_th djk_td_title">视力下降</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzpslxj" type="radio" value="0">有 </label>
					<label><input name="zxazzztzpslxj" type="radio" value="1">无 </label>
					<label><input name="zxazzztzpslxj" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">视力模糊</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzyjssmh" type="radio" value="0">有 </label>
					<label><input name="zxazzztzyjssmh" type="radio" value="1">无 </label>
					<label><input name="zxazzztzyjssmh" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			
			<div class="djk_td djk_th djk_td_title">皮疹</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzpiz" type="radio" value="0">有 </label>
					<label><input name="zxazzztzpiz" type="radio" value="1">无 </label>
					<label><input name="zxazzztzpiz" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">鹅口疮</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzyjekc" type="radio" value="0">有 </label>
					<label><input name="zxazzztzyjekc" type="radio" value="1">无 </label>
					<label><input name="zxazzztzyjekc" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">毛状白斑</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzmzbb" type="radio" value="0">有 </label>
					<label><input name="zxazzztzmzbb" type="radio" value="1">无 </label>
					<label><input name="zxazzztzmzbb" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">淋巴肿结</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzlbzj" type="radio" value="0">有 </label>
					<label><input name="zxazzztzlbzj" type="radio" value="1">无 </label>
					<label><input name="zxazzztzlbzj" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">反复或慢性上呼吸道感染</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzffhmxshxdgr" type="radio" value="0">是 </label>
					<label><input name="zxazzztzffhmxshxdgr" type="radio" value="1">否 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">反复严重细菌性肺炎</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzffyzxjxfy" type="radio" value="0">是 </label>
					<label><input name="zxazzztzffyzxjxfy" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">反复严重细菌性感染（除外肺炎）</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzffyzxjxgrcwfy" type="radio" value="0">是 </label>
					<label><input name="zxazzztzffyzxjxgrcwfy" type="radio" value="1">否 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">卡氏肺孢子肺炎（PCP）</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzksfbzfy" type="radio" value="0">是 </label>
					<label><input name="zxazzztzksfbzfy" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">淋巴细胞间质性肺炎（LIP）</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzlbxbjzxfy" type="radio" value="0">是 </label>
					<label><input name="zxazzztzlbxbjzxfy" type="radio" value="1">否 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">其他机会性感染</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazzztzqtjhxgr" type="radio" value="0">是 </label>
					<label><input name="zxazzztzqtjhxgr" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			实验室检查结果
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">CD4</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">个/ul
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">AST</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">U/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">CD8</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">个/ul
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">ALT</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">U/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">病毒载量</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">C/ml
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">TBIL</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">umol/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">白细胞计数</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">10^9/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">血淀粉酶</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">U/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">总淋巴细胞计数</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">10^9/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">血糖</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">mmol/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">血小板计数</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">10^9/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">血肌酐</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">umol/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">血红蛋白计数</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">g/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">血尿素氮</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">mmol/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">耐药检测结果</div>
			<div class="djk_td djk_td_value djk_td_3" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			临床处理
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">治疗方案<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zlfa" type="radio" value="0">继续原方案原剂量治疗 </label>
					<label><input name="zlfa" type="radio" value="1">继续原方案，更换剂量/剂型 </label>
					<label><input name="zlfa" type="radio" value="0">更换方案 </label>
				</div>
			</div>
		</div>
		<div class="zlfa">
			<div class="djk_tr">
				<div class="djk_td djk_th djk_td_title">更换方案原因</div>
				<div class="djk_td djk_td_value djk_td_3">
					<div class="djk_label">
						<label class="" for="" id=""></label>
					</div>
					<div class="djk_value djk_value_radio">
						<label><input name="zlfayy" type="radio" value="0">依从性不好 </label>
						<label><input name="zlfayy" type="radio" value="1">不良反应 </label>
						<label><input name="zlfayy" type="radio" value="0">治疗失败 </label>
						<label><input name="zlfayy" type="radio" value="0">药物相互作用 </label>
						<label><input name="zlfayy" type="radio" value="1">患者决定 </label>
						<label><input name="zlfayy" type="radio" value="0">其他 </label>
					</div>
				</div>
			</div>
			<div class="djk_tr">
				<div class="djk_td djk_th djk_td_title">更换方案原因</div>
				<div class="djk_td djk_td_value djk_td_3">
					<div class="djk_label">
						<label class="" for="" id=""></label>
					</div>
					<div class="djk_value djk_value_radio">
						<label><input name="zlfatzw" type="radio" value="0">AZT+3TC+NVP </label>
						<label><input name="zlfatzw" type="radio" value="1">d4T+3TC+NVP </label>
						<label><input name="zlfatzw" type="radio" value="0">AZT+3TC+EFV </label>
						<label><input name="zlfatzw" type="radio" value="0">d4T+3TC+EFV </label>
						<label><input name="zlfatzw" type="radio" value="1">TDF+3TC+LPV/r </label>
						<label><input name="zlfatzw" type="radio" value="0">其他 </label>
					</div>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			随访信息
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">本次随访方式<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="bcsffs" type="radio" value="0">电话随访 </label>
					<label><input name="bcsffs" type="radio" value="1">门诊随访 </label>
					<label><input name="bcsffs" type="radio" value="0">上门随访 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">随访方案<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="bcsffa" type="radio" value="0">每年一次 </label>
					<label><input name="bcsffa" type="radio" value="1">每年二次 </label>
					<label><input name="bcsffa" type="radio" value="0">每年四次 </label>
					<label><input name="bcsffa" type="radio" value="0">其他 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">是否完成本次随访<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="sfwcbcsf" type="radio" value="0">是 </label>
					<label><input name="sfwcbcsf" type="radio" value="1">否 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">随访时间<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>	
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">是否进行下次随访预约</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="sfjxxcsfyy" type="radio" value="0">是 </label>
					<label><input name="sfjxxcsfyy" type="radio" value="1">否 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">下次随访预约日期<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">调查日期<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">填表人</div>
			<div class="djk_td djk_td_value">
				<div style="float:left;max-width:160px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择其他</span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">调查机构</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div style="float:left;max-width:260px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择机构</span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">录入日期<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">录入人</div>
			<div class="djk_td djk_td_value" style="">
				<div style="float:left;max-width:160px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择其他</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>