<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>结核专项登记卡</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/common.css" rel="stylesheet">
	<link href="../css/djK.css" rel="stylesheet">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/date.js"></script>
</head>
<body>
	<div class="djk_div" style="margin:20px auto 160px auto;">
		<div class="djk_tr djk_th djk_tr_title">
			个人基本信息
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">姓名<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">路人甲</label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">结核病人登记号<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">性别</div>
			<div class="djk_td djk_td_value" >
				<div class="djk_label">
					<label class="" for="" id="">男</label>
				</div>
				<div class="djk_value djk_value_radio" >
					<label><input name="sex" type="radio" value="0" />男 </label>
					<label><input name="sex" type="radio" value="1" />女 </label>
					<label><input name="sex" type="radio" value="2" />未说明 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">身份证号码</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr" style="height:200px;">
			<div class="djk_td djk_th djk_td_title" style="height:200px;line-height: 200px;">民族<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value" style="width:749px;height:200px;">
				<div class="djk_label" style="height:200px;line-height: 200px;">
					<label class="" for="" id=""></label>
				</label></div>
				<div class="djk_value djk_value_radio" style="height:200px;">
					<label><input name="zxazmz" type="radio" value="0">汉族 </label>
					<label><input name="zxazmz" type="radio" value="1">蒙古族 </label>
					<label><input name="zxazmz" type="radio" value="0">回族 </label>
					<label><input name="zxazmz" type="radio" value="1">藏族 </label>
					<label><input name="zxazmz" type="radio" value="0">维吾尔族 </label>
					<label><input name="zxazmz" type="radio" value="1">苗族 </label>
					<label><input name="zxazmz" type="radio" value="0">彝族 </label>
					<label><input name="zxazmz" type="radio" value="1">壮族 </label>
					<label><input name="zxazmz" type="radio" value="0">布依族 </label>
					<label><input name="zxazmz" type="radio" value="1">朝鲜族 </label>
					<label><input name="zxazmz" type="radio" value="0">满族 </label>
					<label><input name="zxazmz" type="radio" value="1">侗族 </label><br/>
					<label><input name="zxazmz" type="radio" value="0">瑶族 </label>
					<label><input name="zxazmz" type="radio" value="1">白族 </label>
					<label><input name="zxazmz" type="radio" value="0">土家族 </label>
					<label><input name="zxazmz" type="radio" value="1">哈尼族 </label>
					<label><input name="zxazmz" type="radio" value="0">哈萨克族 </label>
					<label><input name="zxazmz" type="radio" value="1">傣族 </label>
					<label><input name="zxazmz" type="radio" value="0">黎族 </label>
					<label><input name="zxazmz" type="radio" value="1">傈傈族 </label>
					<label><input name="zxazmz" type="radio" value="0">佤族 </label>
					<label><input name="zxazmz" type="radio" value="1">畲族 </label>
					<label><input name="zxazmz" type="radio" value="0">高山族 </label><br/>
					<label><input name="zxazmz" type="radio" value="1">拉祜族 </label>
					<label><input name="zxazmz" type="radio" value="0">水族 </label>
					<label><input name="zxazmz" type="radio" value="1">东乡族 </label>
					<label><input name="zxazmz" type="radio" value="0">纳西族 </label>
					<label><input name="zxazmz" type="radio" value="1">景颇族 </label>
					<label><input name="zxazmz" type="radio" value="0">柯尔克孜族 </label>
					<label><input name="zxazmz" type="radio" value="1">土族 </label>
					<label><input name="zxazmz" type="radio" value="0">达翰尔族 </label>
					<label><input name="zxazmz" type="radio" value="1">仫佬族 </label>
					<label><input name="zxazmz" type="radio" value="0">羌族 </label><br/>
					<label><input name="zxazmz" type="radio" value="1">布朗族 </label>
					<label><input name="zxazmz" type="radio" value="0">撒拉族 </label>
					<label><input name="zxazmz" type="radio" value="0">毛南族 </label>
					<label><input name="zxazmz" type="radio" value="1">仡佬族 </label>
					<label><input name="zxazmz" type="radio" value="0">锡伯族 </label>
					<label><input name="zxazmz" type="radio" value="1">阿昌族 </label>
					<label><input name="zxazmz" type="radio" value="0">普米族 </label>
					<label><input name="zxazmz" type="radio" value="1">塔吉克族 </label>
					<label><input name="zxazmz" type="radio" value="0">怒族 </label>
					<label><input name="zxazmz" type="radio" value="1">乌孜别克族 </label><br/>
					<label><input name="zxazmz" type="radio" value="0">俄罗斯族 </label>
					<label><input name="zxazmz" type="radio" value="1">鄂温克族 </label>
					<label><input name="zxazmz" type="radio" value="0">德昂族 </label>
					<label><input name="zxazmz" type="radio" value="1">保安族 </label>
					<label><input name="zxazmz" type="radio" value="0">裕固族 </label>
					<label><input name="zxazmz" type="radio" value="1">京族 </label>
					<label><input name="zxazmz" type="radio" value="0">塔塔尔族 </label>
					<label><input name="zxazmz" type="radio" value="1">独龙族 </label>
					<label><input name="zxazmz" type="radio" value="0">鄂伦春族 </label><br/>
					<label><input name="zxazmz" type="radio" value="1">赫哲族 </label>
					<label><input name="zxazmz" type="radio" value="0">门巴族 </label>
					<label><input name="zxazmz" type="radio" value="1">珞巴族 </label>
					<label><input name="zxazmz" type="radio" value="0">基诺族 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">联系电话</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">文化程度</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id="">否</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="whcd" type="radio" value="0">文盲及半文盲 </label>
					<label><input name="whcd" type="radio" value="1">小学 </label>
					<label><input name="whcd" type="radio" value="0">初中 </label>
					<label><input name="whcd" type="radio" value="1">高中/技校/中专 </label>
					<label><input name="whcd" type="radio" value="0">大学专科及以上 </label>
					<label><input name="whcd" type="radio" value="1">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr" style="height:80px;">
			<div class="djk_td djk_th djk_td_title" style="height:80px;line-height: 80px;">职业</div>
			<div class="djk_td djk_td_value" style="width:749px;height:80px;">
				<div class="djk_label" style="height:80px;line-height: 80px;">
					<label class="" for="" id="">/label&gt;
				</label></div>
				<div class="djk_value djk_value_radio" style="height:80px;">
					<label><input name="zxzzzy" type="radio" value="0">国家机关、党群组织、企业、事业单位负责人 </label>
					<label><input name="zxzzzy" type="radio" value="1">专业技术人员 </label>
					<label><input name="zxzzzy" type="radio" value="0">办事人员和有关人员 </label>
					<label><input name="zxzzzy" type="radio" value="1">商业、服务人员 </label>
					<label><input name="zxzzzy" type="radio" value="0">农、林、渔、水林业生产人员 </label>
					<label><input name="zxzzzy" type="radio" value="1">生产、运输设备操作人员及有关人员 </label>
					<label><input name="zxzzzy" type="radio" value="0">军人 </label>
					<label><input name="zxzzzy" type="radio" value="1">不便分类的其他从业人员 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title" >婚姻状况</div>
			<div class="djk_td djk_td_value djk_td_3" >
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxazhyzk" type="radio" value="0">未婚 </label>
					<label><input name="zxazhyzk" type="radio" value="1">已婚 </label>
					<label><input name="zxazhyzk" type="radio" value="0">丧偶 </label>
					<label><input name="zxazhyzk" type="radio" value="1">离婚 </label><br/>
					<label><input name="zxazhyzk" type="radio" value="1">未说明的婚姻情况 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">工作单位</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">现住地址</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			病人管理情况
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">病人发现方式</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="brfxfs" type="radio" value="0">因症就诊 </label>
					<label><input name="brfxfs" type="radio" value="1">转诊 </label>
					<label><input name="brfxfs" type="radio" value="0">追踪 </label>
					<label><input name="brfxfs" type="radio" value="1">因症推荐 </label>
					<label><input name="brfxfs" type="radio" value="1">接触者检查 </label>
					<label><input name="brfxfs" type="radio" value="1">健康检查 </label>
					<label><input name="brfxfs" type="radio" value="1">其他 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">管理机构</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div style="float:left;max-width:260px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择其他</span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">病人治疗管理</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="brzlgl" type="radio" value="0">全程监督 </label>
					<label><input name="brzlgl" type="radio" value="1">强化其督导 </label>
					<label><input name="brzlgl" type="radio" value="0">全程管理 </label>
					<label><input name="brzlgl" type="radio" value="1">住院 </label>
					<label><input name="brzlgl" type="radio" value="1">自服药 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">病人登记分类</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="brdlfl" type="radio" value="0">新病人 </label>
					<label><input name="brdlfl" type="radio" value="1">复发 </label>
					<label><input name="brdlfl" type="radio" value="0">返回 </label>
					<label><input name="brdlfl" type="radio" value="1">初始失败 </label>
					<label><input name="brdlfl" type="radio" value="1">迁入 </label>
					<label><input name="brdlfl" type="radio" value="1">其他 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			流行病学资料
		</div>
		<div class="djk_tr" style="height:80px;">
			<div class="djk_td djk_th djk_td_title" style="height:80px;line-height: 80px;">结核病接触史</div>
			<div class="djk_td djk_td_value" style="width:749px;height:80px;">
				<div class="djk_label" style="height:80px;line-height: 80px;">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio" style="height:80px;">
					<label><input name="jhbjcs" type="radio" value="0">无 </label>
					<label><input name="jhbjcs" type="radio" value="1">家庭成员中有结合病史且有密切接触史 </label>
					<label><input name="jhbjcs" type="radio" value="0">家庭成员有结核病史但无密切接触史 </label><br/>
					<label><input name="jhbjcs" type="radio" value="0">有非家庭成员结核病患者的密切接触史 </label>
					<label><input name="jhbjcs" type="radio" value="0">多耐药患者接触史 </label><br>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">卡介苗接种史</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="kjmjzs" type="radio" value="0">有 </label>
					<label><input name="kjmjzs" type="radio" value="1">无 </label>
					<label><input name="kjmjzs" type="radio" value="0">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			症状
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">首次出现症状日期</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">发热</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="fare" type="radio" value="0">无 </label>
					<label><input name="fare" type="radio" value="1">>=2周以上发热 </label>
					<label><input name="fare" type="radio" value="2"> <2周发热 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">咳嗽咳痰</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="kskt" type="radio" value="0">有 </label>
					<label><input name="kskt" type="radio" value="1">无 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">盗汗</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="daohan" type="radio" value="0">有 </label>
					<label><input name="daohan" type="radio" value="1">无 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">其他重要症状描述</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			体征
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">两肺呼吸音</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="lfhxy" type="radio" value="0">清晰无啰音 </label>
					<label><input name="lfhxy" type="radio" value="1">呼吸音粗 </label>
					<label><input name="lfhxy" type="radio" value="0">湿啰音 </label>
					<label><input name="lfhxy" type="radio" value="1">干啰音 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">异常呼吸音位置</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="ychxywz" type="radio" value="1">右侧 </label>
					<label><input name="ychxywz" type="radio" value="1">左侧 </label>
					<label><input name="ychxywz" type="radio" value="1">双侧 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">其他阳性体征</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			既往史
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">糖尿病史</div>
			<div class="djk_td djk_td_value ">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tnbs" type="radio" value="0">无 </label>
					<label><input name="tnbs" type="radio" value="1">有 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">糖尿病类型</div>
			<div class="djk_td djk_td_value ">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tnblx" type="radio" value="1">I 型 </label>
					<label><input name="tnblx" type="radio" value="1">II 型 </label>
					<label><input name="tnblx" type="radio" value="1">特殊类型 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">肝病史</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="ganbs" type="radio" value="0">无 </label>
					<label><input name="ganbs" type="radio" value="1">有 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">具体描述</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">肾脏病史</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="szbs" type="radio" value="0">无 </label>
					<label><input name="szbs" type="radio" value="1">有 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">具体描述</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">慢性支气管炎</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="mxzqgy" type="radio" value="0">无 </label>
					<label><input name="mxzqgy" type="radio" value="1">有 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">具体描述</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">使用免疫抑制剂</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="symyyzj" type="radio" value="0">无 </label>
					<label><input name="symyyzj" type="radio" value="1">有 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">具体描述</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">其他病史</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			辅助检查
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">痰涂片抗酸染色</div>
			<div class="djk_td djk_td_value ">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="ttpksrs" type="radio" value="0">未检 </label>
					<label><input name="ttpksrs" type="radio" value="1">阴性 </label>
					<label><input name="ttpksrs" type="radio" value="1">阳性 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">痰涂片抗酸染色体强度</div>
			<div class="djk_td djk_td_value ">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="ttpksrsqd" type="radio" value="1">(1+) </label>
					<label><input name="ttpksrsqd" type="radio" value="1">(2+) </label>
					<label><input name="ttpksrsqd" type="radio" value="1">(3+) </label>
					<label><input name="ttpksrsqd" type="radio" value="1">(4+) </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">痰液结核菌培养</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tyjhjpy" type="radio" value="0">未检 </label>
					<label><input name="tyjhjpy" type="radio" value="1">阴性 </label>
					<label><input name="tyjhjpy" type="radio" value="0">阳性 </label>
					<label><input name="tyjhjpy" type="radio" value="1">非结核分枝杆菌有效 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">结核菌药敏试验</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="jhjymsy" type="radio" value="0">未检 </label>
					<label><input name="jhjymsy" type="radio" value="1">无耐药 </label>
					<label><input name="jhjymsy" type="radio" value="1">耐药 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">耐药描述</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">胸部X线检查</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="xbxxjc" type="radio" value="0">未检 </label>
					<label><input name="xbxxjc" type="radio" value="1">正常 </label>
					<label><input name="xbxxjc" type="radio" value="1">异常 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">描述</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			肝功能
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">ALT</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">U/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">DBIL</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">U/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">TBIL</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">umol/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">AST</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">U/L
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			肾功能
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">Scr</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">umol/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">BUN</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">mmol/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">UA</div>
			<div class="djk_td djk_td_value djk_td_3" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">umol/L
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			血常规
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">Hb</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">g/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">RBC</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">10^9/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">WBC</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">10^9/L
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">PLT</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:150px" value="" id="">10^9/L
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">其他检查</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			诊断与治疗
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">诊断机构名称</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div style="float:left;max-width:260px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择机构</span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">治疗机构名称</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div style="float:left;max-width:260px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择机构</span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">结核病类型</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zgqk" type="radio" value="0">原发性肺结核 </label>
					<label><input name="zgqk" type="radio" value="1">血行播散型肺结核 </label>
					<label><input name="zgqk" type="radio" value="0">继发性肺结核 </label>
					<label><input name="zgqk" type="radio" value="1">结核性胸膜炎 </label>
					<label><input name="zgqk" type="radio" value="0">其他费外结核 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">其他肺外结核</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">痰菌检查</div>
			<div class="djk_td djk_td_value ">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tanjjc" type="radio" value="1">(+) </label>
					<label><input name="tanjjc" type="radio" value="1">(-) </label>
					<label><input name="tanjjc" type="radio" value="1">无痰 </label>
					<label><input name="tanjjc" type="radio" value="1">未查 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">痰检方法</div>
			<div class="djk_td djk_td_value ">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tanjff" type="radio" value="0">涂片 </label>
					<label><input name="tanjff" type="radio" value="1">培养 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">治疗分类</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id="">男</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zhilfl" type="radio" value="0">初治 </label>
					<label><input name="zhilfl" type="radio" value="1">复治 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">确诊日期</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
		</div>
		<div class="djk_tr" style="height:120px;">
			<div class="djk_td djk_th djk_td_title" style="height:120px;line-height: 120px;">治疗方案</div>
			<div class="djk_td djk_td_value" style="width:749px;height:120px;">
				<div class="djk_label" style="height:120px;line-height: 120px;">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio" style="height:120px;">
					常用治疗方案：
					<label><input name="changyzlfa" type="radio" value="0">2H3R3Z3E3/4H3R3 </label>
					<label><input name="changyzlfa" type="radio" value="1">2HRZE/4HR </label>
					<label><input name="changyzlfa" type="radio" value="0">2H3R3Z3E3 S3/6H3R3E3 </label><br/>
					<label><input name="changyzlfa" type="radio" value="1">2HRZES/6HRE </label>
					<label><input name="changyzlfa" type="radio" value="0">2HRZE/10HRE </label>
					<label><input name="changyzlfa" type="radio" value="1">2H3R3Z3E3/10H3R3E3 </label><br/>
					个体化治疗方案：
					<input class="input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">首次治疗日期</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">停止治疗日期</div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
		</div>
		<div class="djk_tr" style="height:80px;">
			<div class="djk_td djk_th djk_td_title" style="height:80px;line-height: 80px;">停止治疗原因</div>
			<div class="djk_td djk_td_value" style="width:749px;height:80px;">
				<div class="djk_label" style="height:80px;line-height: 80px;">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio" style="height:80px;">
					<label><input name="tzzlyy" type="radio" value="0">治愈 </label>
					<label><input name="tzzlyy" type="radio" value="1">完成疗程 </label>
					<label><input name="tzzlyy" type="radio" value="0">结核死亡 </label>
					<label><input name="tzzlyy" type="radio" value="1">非结核死亡 </label>
					<label><input name="tzzlyy" type="radio" value="0">失败 </label>
					<label><input name="tzzlyy" type="radio" value="1">丢失 </label>
					<label><input name="tzzlyy" type="radio" value="0">诊断变更 </label>
					<label><input name="tzzlyy" type="radio" value="1">拒治 </label>
					<label><input name="tzzlyy" type="radio" value="1">不良反应 </label><br/>
					<label><input name="tzzlyy" type="radio" value="1">转入耐多药治疗 </label>
					<label><input name="tzzlyy" type="radio" value="1">其他 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			转归情况
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">转归情况</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zguiqk" type="radio" value="0">治愈 </label>
					<label><input name="zguiqk" type="radio" value="1">好转 </label>
					<label><input name="zguiqk" type="radio" value="0">未愈 </label>
					<label><input name="zguiqk" type="radio" value="1">死亡 </label>
					<label><input name="zguiqk" type="radio" value="0">其他 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">调查日期<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">填表人</div>
			<div class="djk_td djk_td_value">
				<div style="float:left;max-width:160px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择其他</span>
				</div>
			</div>
		</div>
		<div class="djk_tr">	
			<div class="djk_td djk_th djk_td_title">录入人</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">路人甲</label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">录入日期<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">调查机构</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div style="float:left;max-width:260px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择其他</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>