<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>乙肝随访登记卡</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/common.css" rel="stylesheet">
	<link href="../css/djK.css" rel="stylesheet">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/date.js"></script>
</head>
<body>
	<div class="djk_div" style="margin:20px auto 160px auto;">
		<div class="djk_tr djk_th djk_tr_title">
			个人基本信息
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">姓名<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">路人甲</label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">身份证号码<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id="">330621199101012345</label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="330621199101012345" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">性别<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value djk_td_3" >
				<div class="djk_label">
					<label class="" for="" id="">男</label>
				</div>
				<div class="djk_value djk_value_radio" >
					<label><input name="sex" type="radio" value="0" />男 </label>
					<label><input name="sex" type="radio" value="1" />女 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			已采取的治疗情况
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">是否接受抗病毒治疗</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id="">否</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="cqzwyg" type="radio" value="0">是 </label>
					<label><input name="cqzwyg" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="sf_ywjljqzsj">
			<div class="djk_tr djk_th djk_tr_title">
				药物剂量及起止时间
			</div>
			<div class="djk_tr">
				<div class="djk_td djk_th djk_td_title">药物名称</div>
				<div class="djk_td djk_th djk_td_title">剂量</div>
				<div class="djk_td djk_th djk_td_title">开始时间</div>
				<div class="djk_td djk_th djk_td_title">终止时间</div>
			</div>
			<div class="djk_tr">
				<div class="djk_td djk_td_value" style="">
					<div class="djk_label">
						<label class="" for="" id="">路人甲</label>
					</div>
					<div class="djk_value">
						<input class="input_text djk_value_input" value="路人甲" style="width:150px" id="">
					</div>
				</div>
				<div class="djk_td djk_td_value" style="">
					<div class="djk_label">
						<label class="" for="" id="">路人甲</label>
					</div>
					<div class="djk_value">
						<input class="input_text djk_value_input" value="路人甲" style="width:150px" id="">
					</div>
				</div>
				<div class="djk_td djk_td_value">
					<div class="djk_label">
						<label class="" for="" id="">否</label>
					</div>
					<div class="djk_value djk_value_date">
						<input id="select_date" class="djk_date_input" style="width:150px" onclick="HS_setDate(this)">
						<span class="icon_date"></span>
					</div>
				</div>
				<div class="djk_td djk_td_value">
					<div class="djk_label">
						<label class="" for="" id="">否</label>
					</div>
					<div class="djk_value djk_value_date">
						<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
						<span class="icon_date"></span>
					</div>
				</div>
			</div>
			<div class="djk_tr  djk_tr_title">
				<span class="djk_btn_span">增加一行</span>
				<span class="djk_btn_span">删除选中行</span>
			</div>
			<div class="djk_tr">
				<div class="djk_td djk_th djk_td_title">药物副作用</div>
				<div class="djk_td djk_td_value djk_td_3">
					<div class="djk_label">
						<label class="" for="" id="">无</label>
					</div>
					<div class="djk_value djk_value_radio">
						<label><input name="" type="checkbox" value="0">无 </label>
						<label><input name="" type="checkbox" value="1">白细胞或血小板下降 </label>
						<label><input name="" type="checkbox" value="1">CK增高 </label>
						<label><input name="" type="checkbox" value="1">肌酐或尿素氮增高 </label>
						<label><input name="" type="checkbox" value="1">流感样症状 </label>
						<label><input name="" type="checkbox" value="1">脱发 </label>
						<label><input name="" type="checkbox" value="1">其他 </label>
					</div>
				</div>
			</div>
			<div class="djk_tr">
				<div class="djk_td djk_th djk_td_title">其他副作用描述</div>
				<div class="djk_td djk_td_value djk_td_3">
					<div class="djk_label">
						<label class="" for="" id="">路人甲</label>
					</div>
					<div class="djk_value">
						<input class="input_text djk_value_input" style="width:400px" value="路人甲" id="">
					</div>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">耐药</div>
			<div class="djk_td djk_td_value" style="width:749px">
				<div class="djk_label">
					<label class="" for="" id="">否</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="ny" type="radio" value="0">是 </label>
					<label><input name="ny" type="radio" value="1">否 </label>
					<label><input name="ny" type="radio" value="1">不详 </label>
				</div>
			</div>
		</div>
		<div class="nymx">
			<div class="djk_tr djk_th djk_tr_title" style="background-color:#fff;">
				耐药明细
			</div>
			<div class="djk_tr">
				<div class="djk_td djk_th djk_td_title djk_td_2">药物名称</div>
				<div class="djk_td djk_th djk_td_title djk_td_2">开始时间</div>
			</div>
			<div class="djk_tr">
				<div class="djk_td djk_td_value djk_td_2">
					<div class="djk_label">
						<label class="" for="" id="">路人甲</label>
					</div>
					<div class="djk_value">
						<input class="input_text djk_value_input" value="路人甲" style="width:350px" id="">
					</div>
				</div>
				<div class="djk_td djk_td_value djk_td_2">
					<div class="djk_label">
						<label class="" for="" id="">否</label>
					</div>
					<div class="djk_value djk_value_date">
						<input id="select_date" class="djk_date_input" style="width:200px" onclick="HS_setDate(this)">
						<span class="icon_date"></span>
					</div>
				</div>
			</div>
			<div class="djk_tr  djk_tr_title">
				<span class="djk_btn_span">增加一行</span>
				<span class="djk_btn_span">删除选中行</span>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">是否接受其他治疗</div>
			<div class="djk_td djk_td_value" style="width:749px">
				<div class="djk_label">
					<label class="" for="" id="">否</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="sfjsqtzl" type="radio" value="0">是 </label>
					<label><input name="sfjsqtzl" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			症状
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">乏力</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zzfl" type="radio" value="0">无 </label>
					<label><input name="zzfl" type="radio" value="1">轻度 </label>
					<label><input name="zzfl" type="radio" value="2">中度 </label>
					<label><input name="zzfl" type="radio" value="2">重度 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">纳差</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zznc" type="radio" value="0">无 </label>
					<label><input name="zznc" type="radio" value="1">轻度 </label>
					<label><input name="zznc" type="radio" value="2">中度 </label>
					<label><input name="zznc" type="radio" value="2">重度 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">眼黄</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zzyh" type="radio" value="0">无 </label>
					<label><input name="zzyh" type="radio" value="1">轻度 </label>
					<label><input name="zzyh" type="radio" value="2">中度 </label>
					<label><input name="zzyh" type="radio" value="2">重度 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">尿黄</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zznh" type="radio" value="0">无 </label>
					<label><input name="zznh" type="radio" value="1">轻度 </label>
					<label><input name="zznh" type="radio" value="2">中度 </label>
					<label><input name="zznh" type="radio" value="2">重度 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">腹痛</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zzft" type="radio" value="0">有 </label>
					<label><input name="zzft" type="radio" value="1">无 </label>
					<label><input name="zzft" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">腹胀</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zzft" type="radio" value="0">有 </label>
					<label><input name="zzft" type="radio" value="1">无 </label>
					<label><input name="zzft" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">呕血、黑便</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="oxhb" type="radio" value="0">有 </label>
					<label><input name="oxhb" type="radio" value="1">无 </label>
					<label><input name="oxhb" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">皮肤瘙痒</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="pfsy" type="radio" value="0">有 </label>
					<label><input name="pfsy" type="radio" value="1">无 </label>
					<label><input name="pfsy" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title" style="background-color:#fff;">
			体征
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">肝病面容</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="gbmr" type="radio" value="0">有 </label>
					<label><input name="gbmr" type="radio" value="1">无 </label>
					<label><input name="gbmr" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">肝掌</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzgz" type="radio" value="0">有 </label>
					<label><input name="tzgz" type="radio" value="1">无 </label>
					<label><input name="tzgz" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">蜘蛛痣</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzzzz" type="radio" value="0">有 </label>
					<label><input name="tzzzz" type="radio" value="1">无 </label>
					<label><input name="tzzzz" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">皮肤巩膜黄染</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzpfgmhr" type="radio" value="0">有 </label>
					<label><input name="tzpfgmhr" type="radio" value="1">无 </label>
					<label><input name="tzpfgmhr" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">胆囊Murphy征</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzdnz" type="radio" value="0">阴性 </label>
					<label><input name="tzdnz" type="radio" value="1">阳性 </label>
					<label><input name="tzdnz" type="radio" value="2">未查 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">腹部膨隆</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzfbpl" type="radio" value="0">有 </label>
					<label><input name="tzfbpl" type="radio" value="1">无 </label>
					<label><input name="tzfbpl" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">腹壁曲张静脉</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzfbqzjm" type="radio" value="0">有 </label>
					<label><input name="tzfbqzjm" type="radio" value="1">无 </label>
					<label><input name="tzfbqzjm" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">腹部包块</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzfbbk" type="radio" value="0">未及 </label>
					<label><input name="tzfbbk" type="radio" value="1">触及 </label>
					<label><input name="tzfbbk" type="radio" value="2">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">腹部压痛或反跳痛</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzfbythftt" type="radio" value="0">有 </label>
					<label><input name="tzfbythftt" type="radio" value="1">无 </label>
					<label><input name="tzfbythftt" type="radio" value="2">不详 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">移动性浊音</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tzydxzy" type="radio" value="0">阴性 </label>
					<label><input name="tzydxzy" type="radio" value="1">阳性 </label>
					<label><input name="tzydxzy" type="radio" value="2">未查 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title" style="background-color:#fff;">
			实验室指标
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">项目名称</div>
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">检测结果</div>
			<div class="djk_td djk_th djk_td_title djk_td_1_3_2">参考范围</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">谷丙转氨酶</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">U/L
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				0~38
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">谷草转氨酶</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">U/L
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				0~38
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">总胆红素</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">umol/L
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				2.0~20.4
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">直接胆红素</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">umol/L
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				0.0~6.8
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">白蛋白</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">g/L
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				34.0~54.0
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">总蛋白</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">g/L
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				68.0~83.0
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">y-谷氨转肽酶</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">U/L
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				男：11~50 女：7~32
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">碱性磷酸酶</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">U/L
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				30~115
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">甲胎蛋白</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="tjdb" type="radio" value="0">阴性 </label>
					<label><input name="tjdb" type="radio" value="1">阳性 </label>
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				阴性
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">HBV DNA</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">拷贝/ml
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				0~5x10E3
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">乙肝表面抗原</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				浓度>=0.05为阳性
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">乙肝表面抗体</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				浓度>=10.00为阳性
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">乙肝e抗原</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				S/CO>=1.00为阳性
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">乙肝e抗体</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				S/CO>=1.00为阳性
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">乙肝核心抗体</div>
			<div class="djk_td djk_td_value djk_td_1_3_1" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td  djk_td_title djk_td_1_3_2">
				S/CO>=1.00为阳性
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">乙肝病毒P区，基因耐药检测</div>
			<div class="djk_td djk_td_value" style="width:666px;">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div> 
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">血常规</div>
			<div class="djk_td djk_td_value" style="width:666px;">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div> 
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title djk_td_1_3_1">凝血功能</div>
			<div class="djk_td djk_td_value" style="width:666px;">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div> 
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			影像学指标
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">腹部B超结果</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id="">否</label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="fbbcjg" type="radio" value="0">未见异常 </label>
					<label><input name="fbbcjg" type="radio" value="1">肝脾肿大 </label>
					<label><input name="fbbcjg" type="radio" value="0">慢性肝病 </label>
					<label><input name="fbbcjg" type="radio" value="1">脂肪肝 </label>
					<label><input name="fbbcjg" type="radio" value="0">肝硬化 </label>
					<label><input name="fbbcjg" type="radio" value="1">疑似肝癌 </label>
					<label><input name="fbbcjg" type="radio" value="0">其他 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr" style=" height: 180px;">
			<div class="djk_td djk_th djk_td_title"  style=" height: 180px;line-height:180px">其他副作用描述</div>
			<div class="djk_td djk_td_value djk_td_3"  style=" height: 180px;">
				<div class="djk_label">
					肝脏大小<label class="" for="" id=""></label><br/>
					质地<label class="" for="" id=""></label><br/>
					包膜<label class="" for="" id=""></label><br/>
					斜径<label class="" for="" id=""></label>cm<br/>
					脾脏厚<label class="" for="" id=""></label>cm

				</div>
				<div class="djk_value">
					肝脏大小<input class="input_text djk_value_input" style="width:400px" value="" id=""><br/>
					质地<input class="input_text djk_value_input" style="width:400px" value="" id=""><br/>
					包膜<input class="input_text djk_value_input" style="width:400px" value="" id=""><br/>
					斜径<input class="input_text djk_value_input" style="width:400px" value="" id="">cm<br/>
					脾脏厚<input class="input_text djk_value_input" style="width:400px" value="" id="">cm
				</div>
			</div>
		</div>
		<div class="djk_tr" style="height:80px;">
			<div class="djk_td djk_th djk_td_title" style="height:80px;line-height: 80px;">本次临床诊断</div>
			<div class="djk_td djk_td_value" style="width:749px;height:80px;">
				<div class="djk_label" style="height:80px;line-height: 80px;">
					<label class="" for="" id="">/label>
				</div>
				<div class="djk_value djk_value_radio" style="height:80px;">
					<label><input name="bclczd" type="radio" value="0">乙肝携带者 </label>
					<label><input name="bclczd" type="radio" value="1">记性乙肝病毒性肝炎 </label>
					<label><input name="bclczd" type="radio" value="0">慢性乙型病毒性肝炎 </label>
					<label><input name="bclczd" type="radio" value="1">重型乙型病毒性肝炎（急性、亚急性、慢性乙型重型肝炎早前、中期、慢晚期） </label>
					<label><input name="bclczd" type="radio" value="0">乙肝肝硬化（代偿期、失代偿期） </label>
					<label><input name="bclczd" type="radio" value="1">乙肝相关性肝癌 </label>
					<label><input name="bclczd" type="radio" value="0">其他 </label>
					<label><input name="bclczd" type="radio" value="1">不详 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">是否合并其他疾病</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="sfhbqtjb" type="radio" value="0">是 </label>
					<label><input name="sfhbqtjb" type="radio" value="1">否 </label>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">其他疾病详述</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">无</label>
				</div>
				<div class="djk_td djk_td_value" style="">
					<div class="djk_label">
						<label class="" for="" id=""></label>
					</div>
					<div class="djk_value">
						<input class="input_text djk_value_input" value="" id="">
					</div>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">目前是否继续或需要开始抗病毒治疗</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="mqsfjxkbdzl" type="radio" value="0">是 </label>
					<label><input name="mqsfjxkbdzl" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			慢性乙型病毒性肝炎（抗病毒治疗）
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">核苷类似物（单药）</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="hglsw" type="radio" value="0">恩替卡韦 </label>
					<label><input name="hglsw" type="radio" value="1">拉米夫定 </label>
					<label><input name="hglsw" type="radio" value="0">阿德福韦酯 </label>
					<label><input name="hglsw" type="radio" value="1">替比夫定 </label>
					<label><input name="hglsw" type="radio" value="1">替诺福韦 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">干扰素（单药）</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="hglsw" type="radio" value="0">干扰素300万单位 </label>
					<label><input name="hglsw" type="radio" value="1">干扰素500万单位 </label>
					<label><input name="hglsw" type="radio" value="0">Peg-干扰素 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr" style="height:80px;">
			<div class="djk_td djk_th djk_td_title" style="height:80px;line-height: 80px;">联合治疗</div>
			<div class="djk_td djk_td_value" style="width:749px;height:80px;">
				<div class="djk_label" style="height:80px;line-height: 80px;">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio" style="height:80px;">
					<label><input name="lhzl" type="radio" value="0">拉米夫定+阿德福韦 </label>
					<label><input name="lhzl" type="radio" value="1">恩替卡韦+阿德福韦 </label>
					<label><input name="lhzl" type="radio" value="0">替比夫定+阿德福韦 </label>
					<label><input name="lhzl" type="radio" value="0">干扰素+阿德福韦 </label>
					<label><input name="lhzl" type="radio" value="0">干扰素+拉米夫定 </label><br/>
					<label><input name="lhzl" type="radio" value="0">干扰素+恩替卡韦 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">慢乙肝抗病毒治疗疗效（附应答说明）</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="hglsw" type="radio" value="0">完全应答 </label>
					<label><input name="hglsw" type="radio" value="1">部分应答 </label>
					<label><input name="hglsw" type="radio" value="0">不应答 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">是否存在YMDD变异</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="sfczby" type="radio" value="0">是 </label>
					<label><input name="sfczby" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">保肝治疗</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" style="width:400px" value="" id="">
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			重型乙型病毒性肝炎
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_td_value djk_td_4" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="zxyxbdxgy" type="radio" value="0">内科综合治疗 </label>
					<label><input name="zxyxbdxgy" type="radio" value="1">人工肝治疗 </label>
					<label><input name="zxyxbdxgy" type="radio" value="0">肝移植 </label>
					<label><input name="zxyxbdxgy" type="radio" value="1">内科综合治疗+人工肝 </label>
					<label><input name="zxyxbdxgy" type="radio" value="0">内科综合治疗+肝移植 </label>
					<label><input name="zxyxbdxgy" type="radio" value="1">内科综合治疗+人工肝+肝移植 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			乙肝肝硬化
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_td_value djk_td_4" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="yggyh" type="radio" value="0">内科综合支持对症治疗 </label>
					<label><input name="yggyh" type="radio" value="0">肝移植 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			原发性肝癌
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_td_value djk_td_4" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="yggyh" type="radio" value="0">手术治疗 </label>
					<label><input name="yggyh" type="radio" value="0">全身化疗 </label>
					<label><input name="yggyh" type="radio" value="0">接入治疗 </label>
					<label><input name="yggyh" type="radio" value="0">肝移植 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">慢乙肝抗病毒治疗疗效（附应答说明）</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="yfhglsw" type="radio" value="0">完全应答 </label>
					<label><input name="yfhglsw" type="radio" value="1">部分应答 </label>
					<label><input name="yfhglsw" type="radio" value="0">不应答 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">乙肝相关疾病转归</div>
			<div class="djk_td djk_td_value" style="width:749px">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="ny" type="radio" value="0">痊愈 </label>
					<label><input name="ny" type="radio" value="1">好转 </label>
					<label><input name="ny" type="radio" value="1">稳定 </label>
					<label><input name="ny" type="radio" value="0">恶化 </label>
					<label><input name="ny" type="radio" value="1">死亡 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			随访信息
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">随访方式</div>
			<div class="djk_td djk_td_value" style="width:749px">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="sffs" type="radio" value="0">电话随访 </label>
					<label><input name="sffs" type="radio" value="1">门诊随访 </label>
					<label><input name="sffs" type="radio" value="1">上门随随访 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">随访医生</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="" id="">
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">随访日期<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">是否进行下次随访预约</div>
			<div class="djk_td djk_td_value" style="width:749px">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_radio">
					<label><input name="sfjxxcsf" type="radio" value="0">是 </label>
					<label><input name="sfjxxcsf" type="radio" value="1">否 </label>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">预约时间</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div class="djk_label">
					<label class="" for="" id="">否</label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
		</div>
		<div class="djk_tr djk_th djk_tr_title">
			登记信息
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">调查日期<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">填表人</div>
			<div class="djk_td djk_td_value">
				<div style="float:left;max-width:160px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择其他</span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			
			<div class="djk_td djk_th djk_td_title">录入人</div>
			<div class="djk_td djk_td_value" style="">
				<div class="djk_label">
					<label class="" for="" id="">路人甲</label>
				</div>
				<div class="djk_value">
					<input class="input_text djk_value_input" value="路人甲" id="">
				</div>
			</div>
			<div class="djk_td djk_th djk_td_title">录入日期<span class="djk_label_must">*</span></div>
			<div class="djk_td djk_td_value">
				<div class="djk_label">
					<label class="" for="" id=""></label>
				</div>
				<div class="djk_value djk_value_date">
					<input class="input_text djk_date_input" style="width:150px" onclick="HS_setDate(this)">
					<span class="icon_date"></span>
				</div>
			</div>
		</div>
		<div class="djk_tr">
			<div class="djk_td djk_th djk_td_title">调查机构</div>
			<div class="djk_td djk_td_value djk_td_3">
				<div style="float:left;max-width:260px;height:30px;overflow:hidden;">
					<label class="" for="" id="">浙江</label>
				</div>
				<div class="djk_value">
					<span class="djk_btn_span">选择其他</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>