<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>上级医生</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/login.css" rel="stylesheet">
	<script src="../js/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="login_div">
		<div class="loginform">
			<div class="onerow">
				<div class="text">服务机构：</div>
				<div class="input">
					<select class="search_select">
						<option value ="volvo">姓名</option>
						<option value ="saab">身份证</option>
						<option value="opel">关键字</option>
					</select>
				</div>
			</div>
			<div class="onerow">
				<div class="text">用户工号：</div>
				<div class="input">
					<input class="login_input_userno" autocomplete="off">
				</div>
			</div>
			<div class="onerow">
				<div class="text">用户密码</div>
				<div class="input">
					<input class="login_input_pass" autocomplete="off">
				</div>
			</div>
			<div class="onerow">
				<div class="text"></div>
				<div class="input ">
					<input type="button" class="login_btn_denglu" autocomplete="off">
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			
	
		});

	</script>
</body>
</html>