<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>选择医生</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/select_jg.css" rel="stylesheet">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/layer/layer.min.js"></script>
</head>
<body>
	<div class="select_doctor_div">
		<div class="select_doctor_search_bar">
			<div class="select_doctor_search">
				<input id="" type="text" autocomplete="off" class="search-broad">
				<span class="select_doctor_search_btn"></span>
			</div>
			<div class="select_doctor_confirm_btn">确定</div>
		</div>
		<div class="select_doctor_tb_container">
			<table class="select_doctor_search_res"><tbody>
				<tr class="select_doctor_tb_th">
					<!-- <td style="width: 75px;"></td> -->
					<td style="width: 75px;"></td>
					<td>姓名</td>
					<td>工号</td>
					<td>服务机构</td>
				</tr>
				<tr class="tb-tr">
					<!-- <td class="select_doctor_td_check select_doctor_td_nocheck" index="1"></td> -->
					<td>
						<label class="abc"><input name="yggyh" type="radio" value="0"></label>
					</td>
					<td>李医生</td>
					<td>1122</td>
					<td>新风社区卫生服务中心</td>
				</tr>
				<tr class="tb-tr">
					<!-- <td class="select_doctor_td_check select_doctor_td_nocheck" index="2"></td> -->
					<td>
						<label class="abc"><input name="yggyh" type="radio" value="0"></label>
					</td>
					<td>李医生</td>
					<td>1122</td>
					<td>新风社区卫生服务中心</td>
				</tr>
				<tr class="tb-tr">
					<!-- <td class="select_doctor_td_check select_doctor_td_nocheck" index="3"></td> -->
					<td>
						<label class="abc"><input name="yggyh" type="radio" value="0"></label>
					</td>
					<td>李医生</td>
					<td>1122</td>
					<td>新风社区卫生服务中心</td>
				</tr>
				<tr class="tb-tr">
					<!-- <td class="select_doctor_td_check select_doctor_td_nocheck" index="4"></td> -->
					<td>
						<label class="abc"><input name="yggyh" type="radio" value="0"></label>
					</td>
					<td>李医生</td>
					<td>1122</td>
					<td>新风社区卫生服务中心</td>
				</tr>
				<tr class="tb-tr">
					<!-- <td class="select_doctor_td_check select_doctor_td_nocheck" index="5"></td> -->
					<td>
						<label class="abc"><input name="yggyh" type="radio" value="0"></label>
					</td>
					<td>李医生</td>
					<td>1122</td>
					<td>新风社区卫生服务中心</td>
				</tr>
				<tr class="tb-tr">
					<!-- <td class="select_doctor_td_check select_doctor_td_nocheck" index="6"></td> -->
					<td>
						<label class="abc"><input name="yggyh" type="radio" value="0"></label>
					</td>
					<td>李医生</td>
					<td>1122</td>
					<td>新风社区卫生服务中心</td>
				</tr>
				<tr class="tb-tr">
					<!-- <td class="select_doctor_td_check select_doctor_td_nocheck" index="7"></td> -->
					<td>
						<label class="abc"><input name="yggyh" type="radio" value="0"></label>
					</td>
					<td>李医生</td>
					<td>1122</td>
					<td>新风社区卫生服务中心</td>
				</tr>
			</tbody></table>
		</div>	
	</div>
	<script>
		$(document).ready(function(){
			//var index = parent.layer.getFrameIndex(window.name);
			
			$('.select_doctor_td_check').on('click',function(){
				$('.select_doctor_td_check').removeClass('select_doctor_td_ischeck').addClass('select_doctor_td_nocheck');
				if($(this).hasClass('select_doctor_td_nocheck')){
					$(this).removeClass('select_doctor_td_nocheck').addClass('select_doctor_td_ischeck');
				}else{
					$(this).removeClass('select_doctor_td_ischeck').addClass('select_doctor_td_nocheck');
				}
				//var _index = $(this).attr('index');
			});
			$(".select_doctor_confirm_btn").on("click",function(){
				var _select_id = $(".select_doctor_td_ischeck").attr('index');
				if($(".select_doctor_td_ischeck").attr('index')){
					/*console.log(1);*/
					var _id = getUrlParam("id");
					/*parent.layer.msg('您将标记"' + _select_id + '"成功传送给了父窗口' , 1);*/
				}else{
					alert("没有选择");
				}
				
    			parent.layer.close(index);
			})
		});
		function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
	</script>
</body>
</html>