<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>随访医生-咨询列表</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/common.css" rel="stylesheet">
	<link href="../css/sxdoctor_selectpatient.css" rel="stylesheet">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="logo"><img src="../img/header/headerlogo.png"></div>
		<div class="logoname">传染病社区管理平台</div>
		<div class="infoli">工号：test</div>
		<div class="infoli">用户名：随访医生</div>
		<div class="infoli">服务机构：新风社区卫生服务中心</div>
		<div class="setting">
			<a href="#" class="changepass btn">修改密码</a>
			<a href="#" class="logout btn">退出系统</a>
		</div>
	</div>
	<div class="nav">
		<ul class="navul">
			<div class="navli active"><a href="#" onclick="showmenu(0)">首页</a></div> 
			<div class="navli"><a href="#" onclick="showmenu(1)">随访任务</a></div> 
			<div class="navli"><a href="#" onclick="showmenu(2)">患者管理</a></div> 
			<div class="navli"><a href="#" onclick="showmenu(0)">任务分配</a></div> 
			<div class="navli"><a href="#" onclick="showmenu(0)">公告管理</a></div> 
		
		</ul>
	</div>
	<div class="menu">
		<ul class="menuul" index="1">
			<div class="menuli"><a href="#">日记录</a></div> 
			<div class="menuli"><a href="#">月记录</a></div> 
			<div class="menuli"><a href="#">周记录</a></div> 
			<div class="menuli"><a href="#">年纪录</a></div> 
		</ul>
		<ul class="menuul" index="2">
			<div class="menuli"><a href="#">乙肝</a></div> 
			<div class="menuli"><a href="#">艾滋病</a></div> 
			<div class="menuli"><a href="#">结核病</a></div> 
		</ul>
	</div>
	<script>
		$(document).ready(function(){
			$(".navli").on("click",function(){
				$(".navli").removeClass("active");
				$(this).addClass("active");
			});
			$(".menuli").on("click",function(){
				$(".menuli").removeClass("active");
				$(this).addClass("active");
			});
			
		});
		function showmenu(i){
			$(".menuul").each(function(){
				if($(this).attr("index")==i){
					$(this).css("display","block");
				}
				else{
					$(this).css("display","none");
				}
			});
		}
	</script>
	<div class="main">
		<div class="sidebar">
			<div class="sidebar_div">
				<div class="sidebar_div_text">首页</div>
				<div class="sidebar_div_xicon"></div>
			</div>
			<div class="sidebar_div active">
				<div class="sidebar_div_text">乙肝</div>
				<div class="sidebar_div_xicon"></div>
			</div>
		</div>
		<div class="main_right">
			<div class="content">
				<!-- do something start -->
				<div class="content-header">
					<div class="content-header-title">
						<!-- <div class="icon_voice"></div> -->
						<!-- <div class="header-title-left">公告列表</div> -->
					</div>
				</div>
				<div class="content-body" style="height:560px;">
					<div class="content-left">
						<div class="search_bar">
							<select class="search_select">
							  <option value ="volvo">姓名</option>
							  <option value ="saab">身份证</option>
							  <option value="opel">关键字</option>
							</select>
							<div class="s-search">
								<input id="" type="text" autocomplete="off"  class="search-broad">
								<span class="search-btn"></span>
							</div>
						</div>
						<div class="tb-container">
						<table class="search_res" style="width:400px">
						
							<tr class="tb-th">
								<td>公告主体</td>
								<td>公告人</td>
								<td>公告时间</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							
						</table>
						</div>
						<div class="pagediv">
							<div class="pagediv-left">
								<a class="" href=""><上一页</a>
								<span class="pageindex">4/15</span>
								<a class="" href="">下一页></a>
							</div>
							<div class="pagediv-right">
								<input id="" type="text" autocomplete="off"  class="pageto">
								<a class="" href="">跳转></a>
							</div>
						</div>
					</div>
					<div class="content-right-zxlist" >
						<div class="sfys_zxlist_container" >
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
							  <li role="presentation" class="active"><a href="#Chat_Record" role="tab" data-toggle="tab">聊天记录</a></li>
							  <li role="presentation"><a href="#Registration_Card" role="tab" data-toggle="tab">登记卡</a></li>
							  <li role="presentation"><a href="#Follow_Up" role="tab" data-toggle="tab">随访记录</a></li>
							  <li role="presentation"><a href="#Indicator_Charts" role="tab" data-toggle="tab">指标走势图</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="sfys_zxlist_tab_content">
								<div role="tabpanel" class="tab_pane active" id="Chat_Record">
									1
								</div>
								<div role="tabpanel" class="tab_pane" id="Registration_Card">
									<iframe src="djk_zxyg.html" width="1050px" height="460px" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes" allowtransparency="yes" id="iframe1"></iframe>
								</div>
								<div role="tabpanel" class="tab_pane" id="Follow_Up">
									3
								</div>
								<div role="tabpanel" class="tab_pane" id="Indicator_Charts">
									4
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- do something end -->
			</div>
		</div>
	</div>
	<div class="footer"></div>
	<script>
		$(document).ready(function(){
			//$('#datetimepicker1').datetimepicker();
			$("#iframe1").load(function(){
				var mainheight = $(this).contents().find("body").height()+30;
				$(this).height(mainheight);
			});
		});
	</script>
</body>
</html>