<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>上级医生-公告列表</title>
	<meta http-equiv="x-ua-compatible" content="IE=edge，chrome=1">
	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/common.css" rel="stylesheet">
	<link href="../css/sxdoctor_selectpatient.css" rel="stylesheet">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="logo"><img src="../img/header/headerlogo.png"></div>
		<div class="logoname">传染病社区管理平台</div>
		<div class="infoli">工号：test</div>
		<div class="infoli">用户名：随访医生</div>
		<div class="infoli">服务机构：新风社区卫生服务中心</div>
		<div class="setting">
			<a href="#" class="changepass btn">修改密码</a>
			<a href="#" class="logout btn">退出系统</a>
		</div>
	</div>
	<div class="nav">
		<ul class="navul">
			<div class="navli active"><a href="#" onclick="showmenu(0)">首页</a></div> 
			<div class="navli"><a href="#" onclick="showmenu(1)">随访任务</a></div> 
			<div class="navli"><a href="#" onclick="showmenu(2)">患者管理</a></div> 
			<div class="navli"><a href="#" onclick="showmenu(0)">任务分配</a></div> 
			<div class="navli"><a href="#" onclick="showmenu(0)">公告管理</a></div> 
		
		</ul>
	</div>
	<div class="menu">
		<ul class="menuul" index="1">
			<div class="menuli"><a href="#">日记录</a></div> 
			<div class="menuli"><a href="#">月记录</a></div> 
			<div class="menuli"><a href="#">周记录</a></div> 
			<div class="menuli"><a href="#">年纪录</a></div> 
		</ul>
		<ul class="menuul" index="2">
			<div class="menuli"><a href="#">乙肝</a></div> 
			<div class="menuli"><a href="#">艾滋病</a></div> 
			<div class="menuli"><a href="#">结核病</a></div> 
		</ul>
	</div>
	<script>
		$(document).ready(function(){
			$(".navli").on("click",function(){
				$(".navli").removeClass("active");
				$(this).addClass("active");
			});
			$(".menuli").on("click",function(){
				$(".menuli").removeClass("active");
				$(this).addClass("active");
			});
			
		});
		function showmenu(i){
			$(".menuul").each(function(){
				if($(this).attr("index")==i){
					$(this).css("display","block");
				}
				else{
					$(this).css("display","none");
				}
			});
		}
	</script>
	<div class="main">
		<div class="sidebar">
			<div class="sidebar_div">
				<div class="sidebar_div_text">首页</div>
				<div class="sidebar_div_xicon"></div>
			</div>
			<div class="sidebar_div active">
				<div class="sidebar_div_text">乙肝</div>
				<div class="sidebar_div_xicon"></div>
			</div>
		</div>
		<div class="main_right">
			<div class="content">
				<!-- do something start -->
				<div class="content-header">
					<div class="content-header-title">
						<!-- <div class="icon_voice"></div> -->
						<div class="header-title-left">公告列表</div>
						<!-- <div class="header-title-mid">路人甲（男 57岁）</div>
						<div class="header-title-right" >
							<div class="gk">
								概况
							</div>
						</div>
						<div class="header-title-right"  style="display:none;">
							<div class="bgsf">
								变更随访医生
							</div>
							<div class="bgsf-save">
								保存数据
							</div>
						</div>
						<div class="header-title-right" style="display:none;">
							<div class="djk">
								登记卡
							</div>
							<div class="djk-edit">
								编辑数据
							</div>
						</div> -->
					</div>
				</div>
				<div class="content-body" style="height:560px;">
					<div class="content-left">
						<div class="search_bar">
							<select class="search_select">
							  <option value ="volvo">姓名</option>
							  <option value ="saab">身份证</option>
							  <option value="opel">关键字</option>
							</select>
							<div class="s-search">
								<input id="" type="text" autocomplete="off"  class="search-broad">
								<span class="search-btn"></span>
							</div>
						</div>
						<div class="tb-container">
						<table class="search_res" style="width:400px">
						
							<tr class="tb-th">
								<td>公告主体</td>
								<td>公告人</td>
								<td>公告时间</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							<tr class="tb-tr">
								<td>2014年7月27日更新主要内容</td>
								<td>吴仁佳</td>
								<td>2014-07-27</td>
							</tr>
							
						</table>
						</div>
						<div class="pagediv">
							<div class="pagediv-left">
								<a class="" href=""><上一页</a>
								<span class="pageindex">4/15</span>
								<a class="" href="">下一页></a>
							</div>
							<div class="pagediv-right">
								<input id="" type="text" autocomplete="off"  class="pageto">
								<a class="" href="">跳转></a>
							</div>
						</div>
					</div>
					<div class="content-right-gg" >
						<div class="ggheader">
							<p class="ggtitle">2014年7月27日更新主要内容</p>
							<p class="gginfo">新风社区卫生服务中心|吴仁佳|2013-02-27 10:58</p>
						</div>
						<div class="ggcontainer">
							健康档案迁移的功能已经实现：<br/>
							发出申请：1.迁入申请用于档案跨镇街的的申请转移，如果在建档或登记注册慢病的时候发现自己的要建的人在其他镇街已经建档可以向已经建过档案的机构发出申请。2.迁出申请用于如果自己管辖的居民，自己清楚已经迁往本市其他镇街，给以直接向迁到的机构发出申请。<br/>
							收到申请：其他机构向本机构发出的申请业务在本菜单下面处理。<br/>
							迁往外地：用于如果自己管辖的居民，迁往义乌市以外的地方可以在这里进行录入，迁往外地之后所有系统的用户都无法查到这个人。<br/>
							外地迁回：迁往外地的居民如果需要迁回可以在这里对已经迁出的居民进行外地迁回。<br/>
							迁出名单，迁入名单是对已经做过迁入和迁出的居民进行浏览。<br/>
							系统功能路径：系统管理工作台-档案资料调整-居民档案迁移<br/>
							建议大家在申请的时候填好申请备注，那么收到申请的机构可以方便的确认；同时也希望收到申请的机构能够及时处理，同意或者不同意，填好相关的办理备注就可以了。
						</div>
					</div>
				</div>
				
				<!-- do something end -->
			</div>
		</div>
	</div>
	<div class="footer"></div>
	<script>
		$(document).ready(function(){
			//$('#datetimepicker1').datetimepicker();
	
		});
	</script>
</body>
</html>