.home{
	background-color: #FFFDEA;
}
.home img{
	max-width: 100%;
}

.question{
	
}
.question img{
	max-width: 100%;
}
.question-top{
	width:100%;
	background: url(../img/question/question_bg.jpg) center no-repeat;
	background-size: 100% 100%;
}
.question-step{
	height:30px;
	width:95px;
	background: url(../img/question/step.png) center no-repeat;
	background-size: cover;
	color:#ffffff;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	position: absolute;
	top:8px;
	right:12px;
}
.question-top-content{
	/*position: absolute;
	top:0px;*/
}
.question-title{
	width: 280px;
 	margin: 0 auto;
  	font-size: 18px;
  	color: #ffffff;
  	text-align: center;
  	padding-bottom: 20px;
}
.question-content{
	margin:10px 30px;
}
.one-question{
	margin:8px 0px;
	border:1px solid #D2D2D2;
	height:45px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	color:#666666;
	font-size: 15px;
}
.one-question input[type="text"]{
	margin:8px 0px;
	border:1px solid #D2D2D2;
	height:45px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	color:#666666;
	font-size: 15px;
}
.question-footer{
	width:100%;
	height:50px;
	background: url(../img/question/question-footer-bg.jpg) center;
	background-size: cover;
}
.question-footer-bottom{
	position: absolute;
	bottom: 1px;
}
.question-footer-left{
	width:49%;
	float:left;
	height:50px;
	background: url(../img/question/question-footer-left.jpg) center;
	background-size: cover;
}
.question-footer-right{
	width:49%;
	float:right;
	height:50px;
	background: url(../img/question/question-footer-right.jpg) center;
	background-size: cover;
}
.one-question-choose{
	margin: 8px 0px;
  	height: 45px;
  	width: 100%;
  	text-align: center;
  	color: #666666;
  	font-size: 15px;
  	border: 1px solid #53C3C7;
  	border-radius: 35px;
  	line-height: 42px;
  	color:#666666;
}
.one-question-choose-select{
	background-color: #53C3C7;
	color:#FFFFFF;
}

/*result*/
.result{
	width:100%;
}
.result-top{
	width:100%;
	height:370px;
	overflow:hidden;
}
.result-top img{
	max-width: 100%;
}
.icon-title{
	position: absolute;
  	right: 20px;
  	top: 65px;
  	width: 40px;
}
.result-top-content{
	position: absolute;
	top:1px;
}
.chart{
	width:100%;
	height:255px;
}
.result-bottom{
	width:100%;
}
.result-core{
	height: 74px;
  	width: 74px;
  	margin: 0 auto;
  	margin-top: -37px;
  	position: relative;
  	color:#FFFFFF;
  	font-size: 12px;
  	text-align: center;
  	line-height: 70px;
}
.result-core-blue{
	background: url(../img/result/core-blue.png) center no-repeat;
	background-size: 100% 100%;
}
.result-core-orange{
	background: url(../img/result/core-orange.png) center no-repeat;
	background-size: 100% 100%;
}
.result-core-green{
	background: url(../img/result/core-green.png) center no-repeat;
	background-size: 100% 100%;
}
.result-core-purple{
	background: url(../img/result/core-purple.png) center no-repeat;
	background-size: 100% 100%;
}
.result-core-text{
	font-size: 32px;
}
.result-desc{
	width:90%;
	margin:0 auto;
	font-size: 15px;
	color:#a2a2a2;
	text-indent: 2em;
	line-height: 22px;
}
.result_icon{
	position: absolute;
}
.result_icon1{
	/*top: 66px;
  	left: 87px;*/
  	
  	width: 60px;
  	left:0px;
  	margin-top: -246px;
    margin-left: 87px;
}
.result_icon2{
	/*top: 66px;
  	right: 99px;*/
  	width: 60px;
  	right: 0px;
  	margin-right: 87px;
  	margin-top: -246px;
}
.result_icon3{
	/*top: 145px;
    right: 22px;*/
  	width: 60px;
  	right: 0px;
  	margin-right: 17px;
  	margin-top: -167px;
}
.result_icon4{
	/*top: 249px;
  	right: 34px;*/
  	width: 60px;
  	right: 0px;
  	margin-right: 39px;
  	margin-top: -64px;
}
.result_icon5{
	/*top: 293px;
  	left: 159px;*/
  	width: 60px;
  	right: 0px;
  	margin-right: 156px;
  	margin-top: -19px;
}
.result_icon6{
	/*top: 251px;
  	left: 18px;*/
  	width: 80px;
  	left: 0px;
  	margin-top: -62px;
  	margin-left: 16px;
}
.result_icon7{
	/*top: 148px;
  	left: 22px;*/
  	width: 60px;
  	left: 0px;
  	margin-top: -166px;
  	margin-left: 23px;
}

.rank-top img{
	max-width: 100%;
}
.rank-top-content{
	position: absolute;
	width:100%;
	top:0px;
}
.rank-top-score-content{
}
.rank-score{
	width:100%;
	color: #fff;
  	text-align: center;
  	font-size: 26px;
  	font-family: "微软雅黑";
}
.rank-score-num{
	font-size: 90px;
  	font-weight: bold;
  	font-family: Arial;
}
.rank-title{
	text-align: center;
  	font-size: 16px;
  	font-family: "微软雅黑";
}
.rank-num-content{
	color:#ec7070;
	background: url(../img/rank/rank-bg.png) center no-repeat;
	background-size: 100%;
	width:70%;
	height:55px;
	line-height: 55px;
	margin: 0 auto;
	margin-top: 24px;
  	text-align: center;
  	font-size: 20px;
  	font-weight: bold;
  	font-style: italic;
}
.rank-num-content span{
	font-size: 35px;
  	font-family: Arial;
}
.result-footer{
	margin-top:30px;
	margin-bottom: 20px;
}
.result-footer img{
	max-width: 100%;
}

