<html lang="ch">
<head>
	<meta charset="utf-8" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes">
	<title>个人预约</title>
	<script type="text/javascript">
	if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
		var version = parseFloat(RegExp.$1);
		if(version>2.3){
			var phoneScale = parseInt(window.screen.width)/640;
			document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
		}else{
			document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
		}
	}else{
		document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	}
	if(navigator.userAgent.indexOf('MicroMessenger') >= 0){
		document.addEventListener('WeixinJSBridgeReady', function() {
			//WeixinJSBridge.call('hideToolbar');
		});
	}
	</script>
	<link href="../css/medical.css" rel="stylesheet">
</head>
<body class="app">
	<div class="container personal_container personal_step2">
		<div class="personal_one">
			<span class="personal_one_title">
				姓名
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_value">
				张三
			</div>
		</div>
		<div class="personal_one">
			<span class="personal_one_title">
				性别
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_value">
				男
			</div>
		</div>
		<div class="personal_one">
			<span class="personal_one_title">
				身份证号
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_value">
				3306211911882844
			</div>
		</div>
		<div class="personal_one">
			<span class="personal_one_title">
				套餐
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_value ">
				A男|标准
			</div>
		</div>
		<div class="personal_one">
			<span class="personal_one_title">
				是否已婚
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_value">
				是
			</div>
		</div>
		<div class="personal_one">
			<span class="personal_one_title">
				手机号码
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_value">
				18757364777
			</div>
		</div>
		<div class="personal_one">
			<span class="personal_one_title">
				家庭电话
			</span>
			<span class="icon_must"></span>
			<div class="personal_one_value">
				无
			</div>
		</div>
		<div class="personal_one">
			<span class="personal_one_title">
				体检日期
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_value">
				2014-11-12
			</div>
		</div>
		<div class="personal_one">
			<span class="personal_one_title">
				体检时间
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_value">
				08:30-09:30
			</div>
		</div>
	</div>
	<input type="submit" class="personal_submit" value="确认预约并获取短信" >
	<!-- <div class="personal_submit">
		确认预约并获取短信
	</div> -->
	<script src="../js/zepto.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>