<html lang="ch">
<head>
	<meta charset="utf-8" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes">
	<title>结果查询3</title>
	<script type="text/javascript">
	if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
		var version = parseFloat(RegExp.$1);
		if(version>2.3){
			var phoneScale = parseInt(window.screen.width)/640;
			document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
		}else{
			document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
		}
	}else{
		document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	}
	if(navigator.userAgent.indexOf('MicroMessenger') >= 0){
		document.addEventListener('WeixinJSBridgeReady', function() {
			//WeixinJSBridge.call('hideToolbar');
		});
	}
	</script>
	<link href="../css/medical.css" rel="stylesheet">
</head>
<body class="app">
	<div class="result3">
		<div class="result_div">
			<div class="one_row">
				<div class="one_row_title">【检查名称】</div>
				<div class="one_row_content">
					肝肾制糖电解质测定
				</div>
			</div>
			<div class="one_row">
				<div class="one_row_title">【检查名称】</div>
				<div class="one_row_content">
					肝肾制糖电解质测定
				</div>
			</div>
			<div class="one_row">
				<div class="one_row_title">【检查名称】</div>
				<div class="one_row_content">
					肝肾制糖电解质测定
				</div>
			</div>
		</div>
	</div>
	<div class="result_query_detail">结果</div>
	<div class="container personal_container">
		<div class="project_header">
			<span class="project_header_left">项目</span>
			<span class="project_header_right">结果</span>
		</div>
		<div class="project_one">
			<div class="project_one_header has_content">
				<span class="project_one_left">淋巴细胞计数</span>
				<div class="project_one_right">3.15</div>
			</div>
			<div class="project_one_content">
				肝脏形态大小正常，表面光滑，肝右前叶见偏高回声，大小约5×5mm，边界清。余肝内部回声纤细，均匀，血管网络清晰。
			胆囊大小正常，囊壁薄，囊内未见明显异常，胆总管及肝内胆管未见扩张。
			胰腺形态规则，包膜光整，实质区回声均匀，主胰管未见扩张。
			脾脏形态大小正常，包膜光整，脾区回声均匀，脾门部脾静脉未见扩张。
			两肾形态大小正常，左肾上极皮质内见一个囊性暗区, 大小约20×20mm，内见光点样强回声，大小约4×4mm。右肾内部回声未见异常。
			膀胱充盈可，壁光滑，内未见明显异常回声。
			前列腺大小44×33×46㎜，形态饱满，内见强光斑，大的约5×4㎜。
			CDFI：未见异常彩色血流信号。  
			</div>
		</div>
		<div class="project_one">
			<span class="project_one_left">淋巴细胞计数</span>
			<div class="project_one_right">3.15</div>
			
		</div>
		<div class="project_one">
			<span class="project_one_left">淋巴细胞计数</span>
			<span class="project_one_right">3.15</span>
		</div>
	</div>
	<script src="../js/zepto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".has_content").on('click',function(){
				if($(this).hasClass('content_show')){
					$(this).removeClass('content_show');
					$(this).next().removeClass('show');
				}
				else{
					$(this).addClass('content_show');
					
					$(this).next().addClass('show');
				}
			})
		});
	</script>
</body>
</html>