<html lang="ch">
<head>
	<meta charset="utf-8" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes">
	<title>团体预约1</title>
	<script type="text/javascript">
	if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
		var version = parseFloat(RegExp.$1);
		if(version>2.3){
			var phoneScale = parseInt(window.screen.width)/640;
			document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
		}else{
			document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
		}
	}else{
		document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	}
	if(navigator.userAgent.indexOf('MicroMessenger') >= 0){
		document.addEventListener('WeixinJSBridgeReady', function() {
			//WeixinJSBridge.call('hideToolbar');
		});
	}
	</script>
	<link href="../css/medical.css" rel="stylesheet">
	<style>
		.aa:focus{
			bakcground:none;
			background-color: transparent;
			border: none;
			outline: none;
		}
		a,button,input{
			/* -webkit-tap-highlight-color:rgba(255,0,0,0); */
			-webkit-tap-highlight-color: rgba(255,0,0,0);
		}
	</style>
</head>
<body class="app">
	<div class="container team_container team_step1	">
		<div class="personal_one">
			<span class="personal_one_title">
				姓名
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_input">
				<input type="text" class="aa" placeholder="请输入">
			</div>
		</div>
		<div class="personal_one" style="border-bottom:none;">
			<span class="personal_one_title">
				档案号
			</span>
			<span class="icon_must">*</span>
			<div class="personal_one_input">
				<input type="text" placeholder="请输入">
			</div>
		</div>
	</div>
	<input type="submit" class="personal_submit" value="提交" >
</body>
</html>