body{
	margin:0;
}
.app{
	width:100%;
	background: url(../img/login/login_bg.jpg) left top no-repeat;
}
.app img{
	max-width: 100%;
}
.input_div{
	margin-bottom:15px;
	position: relative;
}
.input_div .input_div_div{
	position: absolute;
	top: 0px;
	height: 88px;
	width: 100%;
}
.input_div .input_label{
	width:229px;
	height:88px;
	text-align:right;
	float:left;	
	color：#888888;
	font-size: 32px;
	line-height: 88px;
}
.input_div .input_value{
	height:88px;
	width:300px;
	margin-left: 236px;
	color：#000000;
	font-size: 32px;
	line-height: 88px;
}
.input_value input{
	margin-top:9px;
	height:70px;
	width:300px;
	color：#000000;
	font-size: 32px;
	line-height: 70px;
	border:none;
}
.input_value input:focus{
	outline: none;
}
.submit_div{
	width: 310px;
	height: 78px;
	position: absolute;
	top: 0;
	left: 185px;
}
.login_bottom{
	position: absolute;
	bottom:0px;
	max-width: 100%;
}
.mask{
	position: absolute;
	top:0px;
	height:100%;
	width:100%;
	display:none;
}
.mask_bg{
	position: absolute;
	height:100%;
	width:100%;
	background-color: #000000;
	opacity: .7;
}
.alert_div{
	position: absolute;
	height:250px;
	width:430px;
	background-color:#F6F6F6;
	opacity: .8;
	border-radius: 10px;
	left: 120px;
	top: 250px;
	
}
.submit_result{
	font-size: 32px;
	color:#000000;
	font-family: Adobe 黑体 Std;
	text-align: center;
	margin-top: 20px;
}
