@charset "utf-8";
/* CSS Document */
body{ background-color:#f2f2f2; font-size:14px;}
.outsource{
	width:950px; overflow:hidden; margin:20px auto 50px; border:1px solid #e5e5e5;
	background-color:#fff; padding:10px 25px;
}
h1{ display:block; height:60px; line-height:60px; font-size:24px; padding:0; margin:0;}
.tab{
	height:40px; overflow:hidden; width:100%; border-bottom:1px solid #e5e5e5;
}
.tab li{
	width:100px; height:40px; background-color:#f2f2f2; line-height:40px; text-align:center;
	border-top-left-radius:5px; border-top-right-radius:5px; float:left; margin-right:10px;
	cursor:pointer;
}
.tab li.cur{
	background-color:#fa5f19; color:#fff;
}
.content{
	width:100%; overflow:hidden;
}
.content li{
	display:none; width:100%; padding:10px 0px; overflow:hidden;
}
.content li.cur{
	display:block;
}
.outsource-row{
	overflow:hidden; margin-bottom:10px;
}
.outsource-row > label{
	display:inline-block; width:150px; text-align:right; line-height:36px; height:36px;
	padding-right:5px; float:left;
}
.outsource-row > label em{ color:#f00; margin-right:5px; font-size:16px;}
.outsource-row input[type="radio"]{
	display:none;
}
.outsource-row input[type="text"],.outsource-row input[type="email"]{
	padding:5px; border:1px solid #a9a9a9; border-radius:3px; height:24px; line-height:24px;
	width:200px;
}
.outsource-row input[type="number"]{
	padding:5px; border:1px solid #a9a9a9; border-radius:3px; height:24px; line-height:24px;
	width:100px;
}
.outsource-row > span{
	display:inline-block; width:790px;
}
.outsource-row label.radio{
	background:url(http://www.siyonli.com/images/common/radio.png) no-repeat; height:20px; float:left;
	display:inline-block; padding-left:15px; line-height:20px; margin:8px 20px 0 8px;
	background-position:left bottom; cursor:pointer;
}
.outsource-row label.radio.cur{
	background-position:left top;
}
.outsource-row textarea{
	padding:5px; border:1px solid #a9a9a9; border-radius:3px; height:80px; line-height:20px;
	width:750px; resize:none;
}
.price{
	display:inline-block; height:36px; line-height:36px; color:#f00; font-size:24px;
}
.price b{ margin-left:5px;}
.price i{ font-size:12px; margin-left:5px; color:#333;}
a.submit{
	display:inline-block; width:126px; height:36px; background-color:#fa5f19; color:#fff;
	line-height:36px; text-align:center; border-radius:3px;
}
a.submit:hover{
	background-color:#f48604;
}
.outsource-desc{
	 margin:0px 0px 10px 155px; overflow:hidden; line-height:24px; border:1px solid #fa5f19;
	color:#fff; background-color:#f48604; font-size:12px; width:740px; padding:0px 5px;
}