<html lang="ch">
<head>
	<meta charset="utf-8" />
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="0">
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="Expires" content="-1" />
	<!-- <meta http-equiv="pragram" content="no-cache" /> -->
	<!-- <meta name="viewport" content="width=640,user-scalable=no, target-densitydpi=device-dpi"> -->
	<meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes">
	<title>demo之不是这个星座的点不开！</title>
	<script type="text/javascript">
	if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
		var version = parseFloat(RegExp.$1);
		if(version>2.3){
			var phoneScale = parseInt(window.screen.width)/640;
			document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
		}else{
			document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
		}
	}else{
		document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	}
	//微信去掉下方刷新栏
	if(navigator.userAgent.indexOf('MicroMessenger') >= 0){
		document.addEventListener('WeixinJSBridgeReady', function() {
			//WeixinJSBridge.call('hideToolbar');
		});
	}
	</script>
	<link href="../css/app.css" rel="stylesheet">
</head>
<body class="app appBg1" style="height: auto !important;">
	<header class="app-header">
	<a href="javascript:void(0);" class="u-globalAudio z-play">
		<i class="icon-music"></i>
		<audio src="../media/53fd7d2cebd4a60654.mp3" id="header_audio" autoplay="autoplay" loop="loop" data-src="../media/53fd7d2cebd4a60654.mp3"></audio>
		<!-- <audio src="../media/53fd7d2cebd4a60654.mp3" id="header_audio" loop="loop" data-src="../media/53fd7d2cebd4a60654.mp3"></audio> -->
		<span class="">开启</span>
	</a>
	</header>
	<div class="app_content" style="height: auto !important;">
		<div class="page page2 z_current" index="2">
			<div class="page_content">
				<div class="m-mask">
					<div class="mask-circle mask-circle-1"></div>
					<div class="mask-circle mask-circle-2"></div>
					<div class="mask-circle mask-circle-3"></div>
					<!-- <div class="mask-circle mask-circle-4"></div> -->
					<div class="mask-img">
						<div class="mask-img-front" style="background-image: url(../img/section_bg2-2.gif);background-color:#251E33;background-size:100% 1008px;background-position:top;">
						</div>
						<!-- <div class="mask-img-front" style="">
							<div class="home_bg_top" style="background-image: url(../img/home_02.png);"></div>
							<div class="home_bg_bottom" style="background-image: url(../img/home_01.png);"></div>
						</div> -->
						<div class="mask-img-back touch-4" style="background-image: url(../img/toum11.jpg);background-size:100% 1146px;background-position:top;"></div>
						<div class="mask-img-touch touch-1" style="background-image: url(../img/toum11.jpg);background-size:100% 1146px;background-position:top;"></div>
						<div class="mask-img-touch touch-2" style="background-image: url(../img/toum11.jpg);background-size:100% 1146px;background-position:top;"></div>
						<div class="mask-img-touch touch-3" style="background-image: url(../img/toum11.jpg);background-size:100% 1146px;background-position:top;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="page page3" style="height:auto;" index="3">
			<div class="page_content page_content3" style="height: auto !important;">
				<div class="page3_header"></div>
				<div class="vote">
					<div class="container">
						<div class="onerow">
							<div class="left" >
								<div class="pic" style="background: url(../img/pic1.jpg) no-repeat;background-size: 100% 100%;">
									<!-- <img src="../img/pic1.jpg" alt=""> -->
								</div>
							</div>
							<div class="right">
								<div class="votediv">
									<div class="vote_btn">投一票</div>
									<p class="vote_count">255票</p>
								</div>
								<div class="info">
									<p><span class="name">葛海东</span><span class="part">销售部</span></p>
									<p><span class="desc">参赛就是为了拿奖，偶也~</span></p>
								</div>
								
							</div>
						</div>
						<div class="onerow">
							<div class="left" >
								<div class="pic" style="background: url(../img/pic2.jpg) no-repeat;background-size: 100% 100%;">
									<!-- <img src="../img/pic1.jpg" alt=""> -->
								</div>
							</div>
							<div class="right">
								<div class="votediv">
									<div class="vote_btn voted">已投</div>
									<p class="vote_count">255票</p>
								</div>
								<div class="info">
									<p><span class="name">杨岳强</span><span class="part">技术部</span></p>
									<p><span class="desc">百合网我来了</span></p>
								</div>
								
							</div>
						</div>
						<div class="onerow">
							<div class="left" >
								<div class="pic" style="background: url(../img/pic3.jpg) no-repeat;background-size: 100% 100%;">
									<!-- <img src="../img/pic1.jpg" alt=""> -->
								</div>
							</div>
							<div class="right">
								<div class="votediv">
									<div class="vote_btn">投一票</div>
									<p class="vote_count">255票</p>
								</div>
								<div class="info">
									<p><span class="name">裘尉</span><span class="part">销售部</span></p>
									<p><span class="desc">我是少女杀手，美女们投我我是少女杀手，美女们投我</span></p>
								</div>
								
							</div>
						</div>
						<div class="onerow">
							<div class="left" >
								<div class="pic" style="background: url(../img/pic1.jpg) no-repeat;background-size: 100% 100%;">
									<!-- <img src="../img/pic1.jpg" alt=""> -->
								</div>
							</div>
							<div class="right">
								<div class="votediv">
									<div class="vote_btn">投一票</div>
									<p class="vote_count">255票</p>
								</div>
								<div class="info">
									<p><span class="name">葛海东</span><span class="part">销售部</span></p>
									<p><span class="desc">参赛就是为了拿奖，偶也~</span></p>
								</div>
								
							</div>
						</div>
						<div class="onerow">
							<div class="left" >
								<div class="pic" style="background: url(../img/pic2.jpg) no-repeat;background-size: 100% 100%;">
									<!-- <img src="../img/pic1.jpg" alt=""> -->
								</div>
							</div>
							<div class="right">
								<div class="votediv">
									<div class="vote_btn voted">已投</div>
									<p class="vote_count">255票</p>
								</div>
								<div class="info">
									<p><span class="name">杨岳强</span><span class="part">技术部</span></p>
									<p><span class="desc">百合网我来了</span></p>
								</div>
								
							</div>
						</div>
						<div class="onerow">
							<div class="left" >
								<div class="pic" style="background: url(../img/pic3.jpg) no-repeat;background-size: 100% 100%;">
									<!-- <img src="../img/pic1.jpg" alt=""> -->
								</div>
							</div>
							<div class="right">
								<div class="votediv">
									<div class="vote_btn">投一票</div>
									<p class="vote_count">255票</p>
								</div>
								<div class="info">
									<p><span class="name">裘尉</span><span class="part">销售部</span></p>
									<p><span class="desc">我是少女杀手，美女们投我</span></p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="page3_footer"></div>
			</div>
		</div>
	</div>
	<div class="popdiv">
		<div class="pop_top">
			<p>先<span>关注卓健科技</span>，再来给小伙伴投票吧！！~</p>
		</div>
		<div class="pop_btn">
			<div class="popbtn_div">
				<div class="popbtn_blue">
					关注
				</div>
			</div>
			<div class="popbtn_div">
				<div class="popbtn_gray">
					取消
				</div>
			</div>
		</div>
	</div>
	<script src="../js/zepto.js"></script>
	<script src="../js/app1.js"></script>
</body>
</html>